In [23]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import requests
import pandas as pd
def get_data_request(sql_download, cloud):
    

    # Создание строки подключения для SQLAlchemy
    connection_string = f'mysql+pymysql://{cloud[0]}:{cloud[1]}@{cloud[2]}/{cloud[3]}?charset=utf8'
    print(connection_string)
    engine = create_engine(connection_string)
    

    # Использование контекстного менеджера для безопасного открытия и закрытия соединения
    with engine.connect() as connection:
        df = pd.read_sql_query(text(sql_download), connection).fillna('')
        
        return df

In [24]:

import os
from time import sleep

from smb.SMBConnection import SMBConnection
from smb.SMBConnection import SMBConnection, OperationFailure

def save_file_to_dbs(path_from, path_to):
    
    host, user, password = connect_db('DBS')
    conn = SMBConnection(username=user, password=password, my_name="Alexander Brezhnev", remote_name="samba", use_ntlm_v2=True)

    sleep(5)

    if conn.connect(host, 445):
        print('connection ok!')
        with open(path_from, 'rb') as my_file:
            print('file_to_save', my_file) 
            conn.storeFile('dbs', path_to, my_file)
            print('save done')
            
    conn.close()

In [25]:
import pandas as pd

ptv_nasha = ['^5^', '^6^', '^3^', '^10^', '^11^', '^19^', ]
ptv_ne_nasha = ['^5_15^', '^5_16^', '^5_17^', '5_18^', '^5_19^', '^5_20^', '^5_21^',
                '^6_15^', '^6_16^', '^6_17^', '6_18^', '^6_19^', '^6_20^', '^6_21^',
                '^3_15^', '^3_16^', '^3_17^', '3_18^', '^3_19^', '^3_20^', '^3_21^',
                '^10_15^', '^10_16^', '^10_17^', '10_18^', '^10_19^', '^10_20^', '^10_21^',
                '^11_15^', '^11_16^', '^11_17^', '11_18^', '^11_19^', '^11_20^', '^11_21^',
                '^19_15^', '^19_16^', '^19_17^', '19_18^', '^19_19^', '^19_20^', '^19_21^']

def region(row):
    if any(w in row['ptv_c'] for w in ptv_nasha):
        return 'ptv_1'
    elif any(w in row['ptv_c'] for w in ptv_ne_nasha):
        return 'ptv_2'
    else:
        return row['region_c']
def date_1(row):
    if row['datecall'] == 0:
        return row['date_entered']
    return row['datecall']
def queue(row):
    if row['queue'] == 0:
        return row['last_queue_c']
    else:
        return row['queue']
def destination_queue(row):
    if row['destination_queue'] == 0:
        return row['last_queue_c']
    else:
        return row['destination_queue']
def meet_proect(row):
    if row['proect'] in {'RTK', 'RTK LIDS','TELE2'}:
        return 'RTK'
    elif row['proect'] in {'TTK', 'TTK LIDS'}:
        return 'TTK'
    elif row['proect'] in {'DOMRU', 'DOMRU LIDS', 'DOMRU Dop'}:
        return 'DOMRU'
    elif row['proect'] in {'MTS', 'MTS LIDS'}:
        return 'MTS'
    elif row['proect'] in {'GULFSTREAM','GULFSTREAM LIDS'}:
        return 'GULFSTREAM'
    elif row['proect'] in {'NBN', 'NBN LIDS'}:
        return 'NBN'
    elif row['proect'] in {'BEELINE', 'BEELINE LIDS'}:
        return 'BEELINE'
    else:
        return 'DR'
def check_team_project(row):
    if row['team_project'] in {'RTK', 'RTK LIDS'}:
        return 'RTK'
    elif row['team_project'] in {'TELE2','TELE2 LIDS'}:
        return 'TELE2'
    elif row['team_project'] in {'TTK', 'TTK LIDS'}:
        return 'TTK'
    elif row['team_project'] in {'DOMRU', 'DOMRU LIDS', 'DOMRU Dop'}:
        return 'DOMRU'
    elif row['team_project'] in {'MTS', 'MTS LIDS'}:
        return 'MTS'
    elif row['proect'] in {'GULFSTREAM','GULFSTREAM LIDS'}:
        return 'GULFSTREAM'
    elif row['team_project'] in {'NBN', 'NBN LIDS'}:
        return 'NBN'
    elif row['team_project'] in {'BEELINE', 'BEELINE LIDS'}:
        return 'BEELINE'
    else:
        return 'DR'
# def meet_proect_final(row):
#     if row['team_project'] == '0':
#         return row['proect']
#     elif row['check_team_project'] == row['module']:
#         return row['team_project']
#     elif row['check_team_project'] == row['team_project']:
#         return row['team_project']
#     else:
#         return row['proect']

def meet_proect_final(row):
    if row['team_project'] == '0':
        return row['proect']
    elif row['check_team_project'] == row['module']:
        return row['team_project']
    elif row['check_team_project'] != row['module']:
        return row['module']
    elif row['check_team_project'] == row['team_project']:
        return row['team_project']
    else:
        return row['proect']

In [26]:
import pandas as pd

ptv_nasha = ['^5^', '^6^', '^3^', '^10^', '^11^', '^19^', ]
ptv_ne_nasha = ['^5_15^', '^5_16^', '^5_17^', '5_18^', '^5_19^', '^5_20^', '^5_21^',
                '^6_15^', '^6_16^', '^6_17^', '6_18^', '^6_19^', '^6_20^', '^6_21^',
                '^3_15^', '^3_16^', '^3_17^', '3_18^', '^3_19^', '^3_20^', '^3_21^',
                '^10_15^', '^10_16^', '^10_17^', '10_18^', '^10_19^', '^10_20^', '^10_21^',
                '^11_15^', '^11_16^', '^11_17^', '11_18^', '^11_19^', '^11_20^', '^11_21^',
                '^19_15^', '^19_16^', '^19_17^', '19_18^', '^19_19^', '^19_20^', '^19_21^']

def region(row):
    if any(w in row['ptv_c'] for w in ptv_nasha):
        return 'ptv_1'
    elif any(w in row['ptv_c'] for w in ptv_ne_nasha):
        return 'ptv_2'
    else:
        return row['region_c']
def date_1(row):
    if row['datecall'] == 0:
        return row['date_entered']
    return row['datecall']
def queue(row):
    if row['queue'] == 0:
        return row['last_queue_c']
    else:
        return row['queue']
def destination_queue(row):
    if row['destination_queue'] == 0:
        return row['last_queue_c']
    else:
        return row['destination_queue']
def meet_proect(row):
    if row['proect'] in {'RTK', 'RTK LIDS','TELE2'}:
        return 'RTK'
    elif row['proect'] in {'TTK', 'TTK LIDS'}:
        return 'TTK'
    elif row['proect'] in {'DOMRU', 'DOMRU LIDS', 'DOMRU Dop'}:
        return 'DOMRU'
    elif row['proect'] in {'MTS', 'MTS LIDS'}:
        return 'MTS'
    elif row['proect'] in {'GULFSTREAM','GULFSTREAM LIDS'}:
        return 'GULFSTREAM'
    elif row['proect'] in {'NBN', 'NBN LIDS'}:
        return 'NBN'
    elif row['proect'] in {'BEELINE', 'BEELINE LIDS'}:
        return 'BEELINE'
    else:
        return 'DR'
def check_team_project(row):
    if row['team_project'] in {'RTK', 'RTK LIDS'}:
        return 'RTK'
    elif row['team_project'] in {'TELE2','TELE2 LIDS'}:
        return 'TELE2'
    elif row['team_project'] in {'TTK', 'TTK LIDS'}:
        return 'TTK'
    elif row['team_project'] in {'DOMRU', 'DOMRU LIDS', 'DOMRU Dop'}:
        return 'DOMRU'
    elif row['team_project'] in {'MTS', 'MTS LIDS'}:
        return 'MTS'
    elif row['proect'] in {'GULFSTREAM','GULFSTREAM LIDS'}:
        return 'GULFSTREAM'
    elif row['team_project'] in {'NBN', 'NBN LIDS'}:
        return 'NBN'
    elif row['team_project'] in {'BEELINE', 'BEELINE LIDS'}:
        return 'BEELINE'
    else:
        return 'DR'
# def meet_proect_final(row):
#     if row['team_project'] == '0':
#         return row['proect']
#     elif row['check_team_project'] == row['module']:
#         return row['team_project']
#     elif row['check_team_project'] == row['team_project']:
#         return row['team_project']
#     else:
#         return row['proect']

def meet_proect_final(row):
    if row['team_project'] == '0':
        return row['proect']
    elif row['check_team_project'] == row['module']:
        return row['team_project']
    elif row['check_team_project'] != row['module']:
        return row['module']
    elif row['check_team_project'] == row['team_project']:
        return row['team_project']
    else:
        return row['proect']

In [27]:
import pandas as pd
import glob2 as glob
import os


def team_project():
    path = '/root/airflow/dags/project_defenition/projects/teams'
    files = glob.glob(path + "/*.csv")
    project_team = pd.DataFrame()
    n = 0
    num_of_files = len(os.listdir(path))
    print(f'Всего файлов {num_of_files}')

    for i in files:
        n += 1
        df = pd.read_csv(i)
        # project_team = project_team.append(df)
        project_team = pd.concat([project_team,df])
    del df

    project_team['team'] = project_team['team'].fillna(0).astype('int').astype('str')
    project_team = project_team.rename(columns={'project': 'team_project'})
    project_team['date'] = project_team['date'].astype('str')
    project_team['team'] = project_team['team'].astype('str')

    project_team['RN'] = project_team.groupby(['team', 'date']).cumcount() + 1
    project_team = project_team[project_team['RN'] == 1][['team', 'team_project', 'date']]

    return project_team


def queue_project():
    path = '/root/airflow/dags/project_defenition/projects/queues'
    files = glob.glob(path + "/*.csv")
    project_queue = pd.DataFrame()
    n = 0
    num_of_files = len(os.listdir(path))

    print(f'Всего файлов {num_of_files}')

    for i in files:
        n += 1
        df = pd.read_csv(i)
        # project_queue = project_queue.append(df)
        project_queue = pd.concat([project_queue,df])
    del df

    project_queue = project_queue.rename(columns={'Проект (набирающая очередь)': 'destination_project'})
    project_queue['destination_project'] = project_queue['destination_project'].fillna('DR')
    project_queue['Очередь'] = project_queue['Очередь'].fillna(0).astype('int').astype('str')
    project_queue['date'] = project_queue['date'].astype('str')

    project_queue['RN'] = project_queue.groupby(['Очередь', 'date']).cumcount() + 1
    project_queue = project_queue[project_queue['RN'] == 1][['Очередь', 'destination_project', 'date']]

    return project_queue

def project(row):
    if row['team_project'] == '0' and row['destination_project'] == '0':
        return row['proect']
    elif row['team_project'] == 'DR' and row['destination_project'] == '0':
        return row['proect']
    elif row['team_project'] == '0':
        return row['destination_project']
    elif row['team_project'] == 'DR':
        return row['destination_project']
    else:
        return row['team_project']

def organization(row):
    if row['team'] in ['4','12','50','13']:
        return 'КЦ'
        # return 'Лиды'
    elif row['team'] in ['8','123']:
        return 'КЦ'
    elif ' RO' in row['project']:
        return 'Just Robots'
    elif 'LIDS' in row['project']:
        return 'Лиды'
    elif 'Job' in row['project']:
        return 'Just Job'
    # elif row['queue'] in [9251,9251.0,'9251','9251.0']:
    #     return 'Just Job'
    else:
        return 'КЦ'

def step_perevod():
    path = '/root/airflow/dags/project_defenition/projects/steps'
    files = glob.glob(path + "/*.csv")
    steps = pd.DataFrame()
    n = 0
    num_of_files = len(os.listdir(path))
    print(f'Всего файлов {num_of_files}')

    for i in files:
        n += 1
        df = pd.read_csv(i)
        # steps = steps.append(df)
        steps = pd.concat([steps,df])
    del df

    steps['step'] = steps['step'].fillna(0).astype('int').astype('str')
    steps['ochered'] = steps['ochered'].fillna(0).astype('int').astype('str')
    steps['type_steps'] = steps['type_steps'].fillna(1).astype('int').astype('str')
    # steps.loc[(steps['step'].isin(['94', '91', '93'])) & (steps['ochered'] == '9078'), 'type_steps'] = '1'
    steps['date'] = pd.to_datetime(steps['date'])
    # steps['step'] = steps['step'].astype('int')

    steps['RN'] = steps.groupby(['step', 'ochered', 'date','type_steps']).cumcount() + 1
    steps = steps[steps['RN'] == 1][['step', 'ochered', 'date','type_steps']]
    steps = steps.drop_duplicates()

    return steps

def perevod(row):
    if row['step'] == '0':
        return row['perevod']
    elif row['type_steps'] == '1':
        return 1
    else:
        return 0

def lead(row):
    if row['step'] == '0':
        return row['lead']
    elif row['type_steps'] == '0':
        return 1
    else:
        return 0

In [38]:
sql_part1 = '''with ocheredi as (select distinct *
                  from (select queue,
                               project,
                               date,
                               (row_number() over (partition by queue order by date desc)) as rw
                        from suitecrm.queue_project
                        where date >= '2022-02-01') as tb1
                  where rw = 1
                  order by 3),
     department as (select '12' team, 'Входящая линия' department
                    union all
                    select '50' team, 'Диспетчера Алексеевой' department
                    union all
                    select '28' team, 'Универсалы' department
                    union all
                    select '4' team, 'Диспетчера Кротченко' department
                    union all
                    select '42' team, 'Авито' department
                    union all
                    select '16' team, 'Банкроты' department),
     teams as (select *,
                        REGEXP_SUBSTR(first_name, '[0-9]+') team
--                      case
--                          when left(first_name, instr(first_name, ' ') - 1) > 0 and
--                               left(first_name, instr(first_name, ' ') - 1) < 10000
--                              then left(first_name, instr(first_name, ' ') - 1)
--                          when left(first_name, 2) = '�_'
--                              then substring(first_name, 3, (instr(first_name, ' ') - 3))
--                          when left(first_name, 1) = '�'
--                              then substring(first_name, 2, (instr(first_name, ' ') - 1))
--
--                          when first_name > 0 then first_name
--                          else '' end team
               from (
                        SELECT id,
                               concat(first_name, ' ', last_name) fio,
                               case
                                   when substring_index(substring_index(first_name, ' ', 3), ' ', -1) REGEXP '^[0-9]+$'
                                       then substring_index(substring_index(first_name, ' ', 3), ' ', -1)
                                   when substring_index(substring_index(first_name, ' ', 4), ' ', -1) REGEXP '^[0-9]+$'
                                       then substring_index(substring_index(first_name, ' ', 4), ' ', -1)
                                   else first_name
                                   end                            first_name
                        FROM suitecrm.users) user),
     operatory as (select '71eea5ba-9c5a-b7f8-b457-64f82d25a7a2' as id_user, 'MTS' project_before, 'GULFSTREAM' project_after union all
                    select '961a8d10-c1b8-3c4f-5a4b-5d7756de6385' as id_user, 'MTS' project_before, 'GULFSTREAM' project_after union all
                    select '25e10c1d-4cec-995f-b3a2-6537708ed333' as id_user, 'MTS' project_before, 'GULFSTREAM' project_after union all
                    select 'c75f419e-b249-4b48-20cf-65ca382be50a' as id_user, 'MTS' project_before, 'GULFSTREAM' project_after union all
                    select '2fc65ac0-c6c4-4bb2-a1f1-62fb5c35fbf4' as id_user, 'MTS' project_before, 'GULFSTREAM' project_after union all
                    select '4e2bd871-2d7d-5470-3a84-64f6ebf233f1' as id_user, 'MTS' project_before, 'NBN' project_after union all
                    select '809fd8e2-9d83-a61d-dc43-626f8804e165' as id_user, 'MTS' project_before, 'NBN' project_after union all
                    select '31247f69-833c-704c-7c35-6172d27d413c' as id_user, 'MTS' project_before, 'NBN' project_after union all
                    select 'bf59e8fe-091a-42bf-c69b-655c7415970b' as id_user, 'MTS' project_before, 'NBN' project_after union all
                    select '1b79bed3-7f1c-b0e4-03ed-64f6ec5d2e00' as id_user, 'MTS' project_before, 'NBN' project_after union all
                    select '663b38f7-2f87-145e-c0ec-62a84b42b409' as id_user, 'MTS' project_before, 'NBN' project_after union all
                    select '107ab6e2-3c2f-392e-c1d5-60b8bbe0f455' as id_user, 'MTS' project_before, 'NBN' project_after union all
                    select '653ba48b-98a7-1661-c459-63624e819223' as id_user, 'MTS' project_before, 'NBN' project_after union all
                    select '4411e813-2e3b-f4fe-94aa-5c9b8103af67' as id_user, 'MTS' project_before, 'NBN' project_after union all
                    select '8a3a332c-ffbc-ce31-112c-61923e6a9f1d' as id_user, 'MTS' project_before, 'NBN' project_after      ),
# clear_users as (select id,
#                             concat(first_name, ' ', last_name) fio,
#                             first_name,
#                             case
#                                 when substring_index(substring_index(first_name, ' ', 3), ' ', -1) REGEXP '^[0-9]+$'
#                                     then substring_index(substring_index(first_name, ' ', 3), ' ', -1)
#                                 when substring_index(substring_index(first_name, ' ', 4), ' ', -1) REGEXP '^[0-9]+$'
#                                     then substring_index(substring_index(first_name, ' ', 4), ' ', -1)
#                                 else
#                                     (case
#                                          when left(first_name, instr(first_name, ' ') - 1) > 0 and
#                                               left(first_name, instr(first_name, ' ') - 1) < 10000
#                                              then left(first_name, instr(first_name, ' ') - 1)
#                                          when left(first_name, 2) = 'я_'
#                                              then substring(first_name, 3, (instr(first_name, ' ') - 3))
#                                          when left(first_name, 1) = 'я'
#                                              then substring(first_name, 2, (instr(first_name, ' ') - 1))
#                                          else '' end)
#                                 end                            teams
#                      from suitecrm.users),
#      supervisors as (select id as super, fio as super_fio, replace(teams, ' ', '') team
#                      from clear_users
#                      where id in (select distinct supervisor
#                                   from suitecrm.worktime_supervisor)),
#      teams as (select clear_users.id, fio, date(date_start) start, if(date_stop is null, date(now()), date(date_stop)-interval 1 day) stop, super as supervisor, supervisors.team
#          from clear_users
#          left join suitecrm.worktime_supervisor on clear_users.id = id_user
#          left join supervisors on super = supervisor),
     contacts as (select phone_work,
                         if(city_c is null or city_c = '', concat(contacts_cstm.town_c, '_t'), city_c) as city,
                         town_c,
                         city_c,
                         case when base_source_c like '%301%' then '55_m'
when base_source_c like '%302%' then '18_m'
when base_source_c like '%303%' then '55_f'
when base_source_c like '%304%' then '18_f' else '' end department
                  from suitecrm.contacts
                           left join suitecrm.contacts_cstm on id = id_c)

select Meets.*
#        ,case
#            when last_queue_c = 9251 then 'Just Job'
#            when department is null and locate('LIDS', proect) > 0 then 'Лиды'
#            when department is null then 'КЦ'
#            else department end department
from (
         select last_queue_c,
                proect,
                team,
                uid,
                fio,
                date_entered,
                status,
                konva,
                tarif,
                rtkid,
                phone_work,
                active_date,
                city_c,
#                 if(date_entered < '2023-04-01', city_c, city) city_c,
                town_c,
                if(proect in ('RTK LIDS','RTK'), proect, 'RTK LIDS') as module
#                 ,
#                                      start,
#                                      stop
         , department
         from (select R.*,
                      case
                          when team = 28 then 'TELE2'
                          when team in (12, 50, 4) then 'RTK'
                          when team in (19, 42, 80, 107, 13, 555, 123) then 'RTK'
                          when team = 13 then 'RTK'
                          when team in
                               (1, 2, 3, 5, 11, 11, 11, 11, 16, 21, 26, 26, 29, 31, 35, 37, 38, 43, 47, 48, 51, 52, 54,
                                59, 60, 66, 67, 68, 69, 70, 71, 78, 79,
                                83, 84, 84, 84, 85, 86, 88, 89, 92, 93, 94, 95, 96, 97, 98, 99, 105, 106, 109, 113, 115,
                                116, 119, 120, 666, 124) then 'RTK LIDS'
                          else 'RTK LIDS'
                          end proect
               from (SELECT distinct rtk.id                       rtkid,
#                                      first_name,
                                     rtk_cstm.last_queue_c,
                                     team,
                                     date(activate_date_internet) active_date,
                                     teams.id                     uid,
                                     fio,
                                     date(rtk.date_entered) as    date_entered,
                                     rtk.status,
                                     case
                                         when rtk.status in ('Held', 'Active') then 1
                                         when rtk.status in ('Created', 'provider_planned', 'dispetcher_grafik') then 2
                                         else 0
                                         end                      konva,
                                     packet_service_c             tarif,
                                     rtk.phone_work,
                                     city_c,
                                     city,
                                     town_c
#                                      ,
#                                      start,
#                                      stop
               , department
                     FROM suitecrm.jc_meetings_rostelecom rtk
                              left join suitecrm.jc_meetings_rostelecom_cstm rtk_cstm on rtk.id = rtk_cstm.id_c
                              left join teams on rtk.assigned_user_id = teams.id
                              left join contacts on rtk.phone_work = contacts.phone_work
                     WHERE date(rtk.date_entered) >= '2024-04-01'
                       AND rtk.status not in ('Error', 'doubled')
                       and rtk.deleted = 0) R
              ) RTK
         union all
         select last_queue_c,
                proect,
                team,
                uid,
                fio,
                date_entered,
                status,
                konva,
                tarif,
                rtkid,
                phone_work,
                '' active_date,
                city_c,
#                 if(date_entered < '2023-04-01', city_c, city) city_c,
                town_c,
                if(proect in ('BEELINE LIDS','BEELINE'), proect, 'BEELINE LIDS') as module
#                 ,
#                                      start,
#                                      stop
         , department
         from (select R.*,
                      case
                          when team in (12, 50, 4) then 'BEELINE'
                          when team in (13, 10, 15, 8, 27, 28, 555) then 'BEELINE'
                          when team in (122, 667, 432) then 'BEELINE LIDS'
                          else 'BEELINE'
                          end proect
               from (SELECT distinct bln.id                    rtkid,
#                                      first_name,
                                     bln_cstm.last_queue_c,
                                     teams.team,
                                     teams.id                  uid,
                                     fio,
                                     date(bln.date_entered) as date_entered,
                                     bln.status,
                                     case
                                         when bln.status in ('Held', 'Active', 'Proverka', 'delivered') then 1
                                         when bln.status in ('Created', 'provider_planned', 'dispetcher_grafik') then 2
                                         else 0
                                         end                   konva,
                                     case
                                         when packet_service in ('mono_shpd', 'shpd_tv') then 'shpd'
                                         when type_c = 'Beeline3' then 'konvergent'
                                         else 'shpd' end       tarif,
                                     bln.phone_work,
                                     city_c,
                                     city,
                                     contacts.town_c
#                                      ,
#                                      start,
#                                      stop
               , department
                     FROM suitecrm.jc_meetings_beeline bln
                              left join suitecrm.jc_meetings_beeline_cstm bln_cstm on bln.id = bln_cstm.id_c
                              left join teams on bln.assigned_user_id = teams.id
                              left join contacts on bln.phone_work = contacts.phone_work
                     WHERE date(bln.date_entered) >= '2024-04-01'
                       AND bln.status != 'Error'
                       and bln.deleted = 0) R) BLN
         union all
         select last_queue_c,
                proect,
                team,
                uid,
                fio,
                date_entered,
                status,
                konva,
                tarif,
                rtkid,
                phone_work,
                '' active_date,
                city_c,
#                 if(date_entered < '2023-04-01', city_c, city) city_c,
                town_c,
                if(proect in ('DOMRU LIDS','DOMRU'), proect, 'DOMRU LIDS') as module
#                 ,
#                                      start,
#                                      stop
         , department
         from (select distinct R.*,
                               case
                                   when packet_service in ('tel', 'tel_RB', 'tel_R', 'tel_B') then 'DOMRU Dop'
                                   when team in (19, 42, 80, 107, 13, 9) then 'DOMRU'
                                   when team in (12, 50, 4) then 'DOMRU'
                                   when team in
                                        (20, 24, 40, 62, 63, 72, 90, 100, 500, 501, 502, 503, 504, 505, 506, 507, 508)
                                       then 'DOMRU LIDS'
                                   else 'DOMRU LIDS'
                                   end                     proect,
                               case
                                   when router = 1 and tv_box = 1 then concat(packet_service, '_RB')
                                   when router = 1 then concat(packet_service, '_R')
                                   when tv_box = 1 then concat(packet_service, '_B')
                                   else packet_service end tarif
               from (SELECT distinct dom.id                                     rtkid,
#                                      first_name,
                                     dom.last_queue_c,
                                     team,
                                     teams.id                                   uid,
                                     fio,
                                     date(dom.date_entered) as                  date_entered,
                                     dom.status,
                                     case
                                         when dom.status in ('Held', 'Active') then 1
                                         when dom.status in ('Created', 'provider_planned', 'dispetcher_grafik') then 2
                                         else 0
                                         end                                    konva,
                                     if(router_c in ('in_kredit', 'buy'), 1, 0) router,
                                     if(tv_box_c = 1, 1, 0)                     tv_box,
                                     case
                                         when packet_service = 'home_phone' then 'tel'
                                         when packet_service = 'internet' then 'int'
                                         when packet_service = 'tv' then 'tv'
                                         when packet_service = 'ktv' then 'ktv'
                                         when packet_service = 'int_m' then 'int_ktv'
                                         when packet_service = 'int_s' then 'int_iktv'
                                         else '' end                            packet_service,
                                     dom.phone_work,
                                     city_c,
                                     city,
                                     town_c
#                                      ,
#                                      start,
#                                      stop
, department
                     FROM suitecrm.jc_meetings_domru dom
                              left join suitecrm.jc_meetings_domru_cstm dom_cstm on id_c = id
                              left join teams on dom.assigned_user_id = teams.id
                              left join contacts on dom.phone_work = contacts.phone_work
                     WHERE date(dom.date_entered) >= '2024-04-01'
                       AND dom.status != 'Error'
                       and dom.deleted = 0) R) DOM
         union all
         select last_queue_c,
                proect,
                team,
                uid,
                fio,
                date_entered,
                status,
                konva,
                tarif,
                rtkid,
                phone_work,
                '' active_date,
                city_c,
#                 if(date_entered < '2023-04-01', city_c, city) city_c,
                town_c,
                if(proect in ('TTK LIDS','TTK'), proect, 'TTK LIDS') as module
#                 ,
#                                      start,
#                                      stop
         , department
         from (select R.*,
                      case
                          when team in (19, 42, 80, 107, 13) then 'TTK'
                          when team in (12, 50, 4) then 'TTK'
                          when team in (14, 17, 33, 34, 36, 39, 41, 44, 61, 118, 121) then 'TTK LIDS'
                          else 'TTK LIDS'
                          end proect
               from (SELECT distinct ttk.id                    rtkid,
#                                      first_name,
                                     ttk_cstm.last_queue_c,
                                     team,
                                     teams.id                  uid,
                                     fio,
                                     date(ttk.date_entered) as date_entered,
                                     ttk.status,
                                     case
                                         when ttk.status in ('Held', 'Active') then 1
                                         when ttk.status in ('Created', 'provider_planned', 'dispetcher_grafik') then 2
                                         else 0
                                         end                   konva,
                                     check_internet,
                                     check_tv,
                                     case
                                         when check_internet = 1 and check_tv = 1 then 'packet'
                                         when check_internet = 1 then 'shpd'
                                         when check_tv = 1 then 'tv'
                                         when type_internet_c is not null and type_tv_c is not null then 'packet'
                                         when type_internet_c is not null then 'shpd'
                                         when type_tv_c is not null then 'tv'
                                         else 0
                                         end                   tarif,
                                     ttk.phone_work,
                                     city_c,
                                     city,
                                     town_c
#                                      ,
#                                      start,
#                                      stop
               , department
                     FROM suitecrm.jc_meetings_ttk ttk
                              left join suitecrm.jc_meetings_ttk_cstm ttk_cstm on ttk.id = ttk_cstm.id_c
                              left join teams on ttk.assigned_user_id = teams.id
                              left join contacts
                                        on ttk.phone_work = contacts.phone_work
                     WHERE date(ttk.date_entered) >= '2024-04-01'
                       AND ttk.status != 'Error'
                       and ttk.deleted = 0) R) TTK
         union all
         select last_queue_c,
                proect,
                team,
                uid,
                fio,
                date_entered,
                status,
                konva,
                tarif,
                rtkid,
                phone_work,
                '' active_date,
                city_c,
#                 if(date_entered < '2023-04-01', city_c, city) city_c,
                town_c,
                if(proect in ('NBN LIDS','NBN'), proect, 'NBN LIDS') as module
#                 ,
#                                      start,
#                                      stop
         , department
         from (select R.*,
                      case
                          when id_user is not null then project_after
                          when team in (12, 50, 4) then 'NBN'
                          when team in (19, 42, 80, 107, 13, 8, 32) then 'NBN'
                          when team in (7, 22, 45, 46, 49, 53) then 'NBN LIDS'
                          else 'NBN LIDS' end proect
               from (SELECT distinct nbn.id                    rtkid,
                                     nbn_cstm.last_queue_c,
                                     team,
                                     teams.id                  uid,
                                     fio,
                                     date(nbn.date_entered) as date_entered,
                                     nbn.status,
                                     case
                                         when nbn.status in ('Held', 'Active') then 1
                                         when nbn.status in ('Created', 'provider_planned', 'dispetcher_grafik') then 2
                                         else 0
                                         end                   konva,
                                     packet_service            tarif,
                                     nbn.phone_work,
                                     city_c,
                                     city,
                                     contacts.town_c
#                                      ,
#                                      start,
#                                      stop
               , department
                     FROM suitecrm.jc_meetings_netbynet nbn
                              left join suitecrm.jc_meetings_netbynet_cstm nbn_cstm on nbn.id = nbn_cstm.id_c
                              left join teams on nbn.assigned_user_id = teams.id
                              left join contacts on nbn.phone_work = contacts.phone_work
                     WHERE date(nbn.date_entered) >= '2024-04-01'
                       AND nbn.status != 'Error'
                       and nbn.deleted = 0) R
                left join operatory on uid = id_user
               where last_queue_c is null
                  or last_queue_c != 9134) NBN
         union all
         select last_queue_c,
                proect,
                R2.team as team,
                uid,
                fio,
                date_entered,
                status,
                konva,
                tarif,
                rtkid,
                phone_work,
                ''         active_date,
                city_c,
#                 if(date_entered < '2023-04-01', city_c, city) city_c,
                town_c,
                case when proect in ('MTS LIDS','MTS','GULFSTREAM Job') then proect
                     when proect in ('GULFSTREAM LIDS','GULFSTREAM') and tarif = 'Satellite_TV' then proect
                    else 'MTS LIDS' end  module
#                 ,
#                                      start,
#                                      stop
         , department
         from (select rtkid,
                      last_queue_c,
                      tmts.team,
                      uid,
                      fio,
                      date_entered,
                      status,
                      konva,
                      phone_work,
                      city_c,
                      city,
                      town_c,
                      case
                          when id_user is not null then project_before
                          when last_queue_c = 9251 then 'GULFSTREAM Job'
                          when team = 16 then 'GULFSTREAM'
                          when team = 17 then 'GULFSTREAM LIDS'
                          when team in (19, 42, 80, 107, 13, 123, 15, 25, 27, 28, 30) then 'MTS'
                          when team in (12, 50, 4) then 'MTS'
                          when team in
                               (6, 18, 23, 55, 56, 57, 58, 64, 65, 73, 74, 76, 77, 81, 87, 91, 102, 103, 104, 117, 122,
                                202) then 'MTS LIDS'
                          else 'MTS LIDS' end proect,
                      tarif
#                       ,
#                                      start,
#                                      stop
         , department
               from (SELECT distinct mts.id                    rtkid,
                                     mts_cstm.last_queue_c,
                                     teams.team,
                                     teams.id                  uid,
                                     fio,
                                     date(mts.date_entered) as date_entered,
                                     mts.status                status,
                                     case
                                         when mts.status in ('Held', 'Active') then 1
                                         when mts.status in ('Created', 'provider_planned', 'dispetcher_grafik')
                                             then 2
                                         else 0
                                         end                   konva,
                                     packet_service_c          tarif,
                                     mts.phone_work,
                                     city_c,
                                     city,
                                     town_c
#                                      ,
#                                      start,
#                                      stop
               , department
                     FROM suitecrm.jc_meetings_mts mts
                              left join suitecrm.jc_meetings_mts_cstm mts_cstm on mts.id = mts_cstm.id_c
                              left join ocheredi on mts_cstm.last_queue_c = ocheredi.queue
                              left join teams on mts.assigned_user_id = teams.id
                              left join contacts on mts.phone_work = contacts.phone_work
                     WHERE date(mts.date_entered) >= '2024-04-01'
                       AND mts.status != 'Error'
                       and mts.deleted = 0) tmts
             left join operatory on uid = id_user

             ) R2
         union all
         select last_queue_c,
                proect,
                team,
                uid,
                fio,
                date_entered,
                status,
                konva,
                tarif,
                rtkid,
                phone_work,
                active_date,
                city_c,
#                 if(date_entered < '2023-04-01', city_c, city) city_c,
                town_c,
                if(proect in ('GULFSTREAM LIDS',

                'GULFSTREAM', 'TELE2', 'Delta', 'Цезарь LIDS'), proect, 'DR') as module

#                 ,
#                                      start,
#                                      stop
         , department
         from (select R.*,
                      case
                          when id_user is not null then project_after
#                           when sys_project in ('hr', 'selection') and providers = 'starlink' and  date_entered < '2023-11-01' then 'Starlink Job'
#                           when sys_project in ('hr', 'selection') and providers = '2com' and  date_entered < '2023-11-01' then 'Almatel Job'
#                           when sys_project in ('hr', 'selection') and (providers in ('mtsStavropol', 'mtsTolyati') or selection_project_c = 'mts')  then 'MTS Job'
#                           when sys_project in ('hr', 'selection') and (providers = 'megafonGPH' or selection_project_c = 'megafon')  then 'NBN Job'
#                           when sys_project in ('hr', 'selection') and selection_project_c = 'rtk'  then 'RTK Job'
#                           when sys_project in ('hr', 'selection') and selection_project_c = 'golfstream'  then 'GULFSTREAM Job'
#                           when sys_project in ('hr', 'selection') and (providers = 'domRu' or selection_project_c = 'domru') then 'DOMRU Job'
#                           when sys_project in ('hr', 'selection') and (providers = 'stacionarKLD' or selection_project_c = 'pc_kaliningrad') then 'Just Call Job'
#                           when sys_project in ('hr', 'selection') then 'Just Job'
                          when sys_project = 'project_8' and team in (30,13,159,8) then 'GULFSTREAM'
                          when sys_project = 'project_8' and team in (17,15) then 'GULFSTREAM LIDS'
                          when sys_project = 'tele2' then 'TELE2'
                          when sys_project = 'project_2' then 'VSK LIDS'
                          when sys_project = 'project_5' then 'Цезарь LIDS'
                          when sys_project = 'project_4' then 'Delta'
                          when sys_project = 'project_1' then 'TAT LIDS'
#                           when team in (203, 204) then 'TAT LIDS'
                          else 'DR Job'
                          end proect
               from (SELECT distinct other.id                     rtkid,
#                                      first_name,
                                     other.last_queue last_queue_c,
                                     team,
                                     date(activate_date_internet) active_date,
                                     teams.id                     uid,
                                     fio,
                                     date(other.date_entered) as  date_entered,
                                     other.status,
                                     case
                                         when other.status in ('Held', 'Active') then 1
                                         when other.status in ('Created', 'provider_planned', 'dispetcher_grafik')
                                             then 2
                                         else 0
                                         end                      konva,
                                     case
                                         when check_internet + check_tv + check_mobile >= 3 then 'konvergent'
                                         when check_internet + check_mobile >= 2 then 'packet_sim'
                                         when check_internet + check_tv >= 2 then 'packet_tv'
                                         when check_internet = 1 and check_mobile = 0 then 'int'
                                         when check_mobile = 1 then 'sim'
                                         else '' end              tarif,
                                     other.phone_work,
                                     city_c,
                                     city,
                                     providers,
                                     other.project                sys_project,
                                     rtk_cstm.selection_project_c,
                                     town_c
#                                      ,
#                                      start,
#                                      stop
               , department
                     FROM suitecrm.jc_meetings_other other
                              left join suitecrm.jc_meetings_other_cstm rtk_cstm on other.id = rtk_cstm.id_c
                              left join teams on other.assigned_user_id = teams.id
                              left join contacts on other.phone_work = contacts.phone_work
                     WHERE date(other.date_entered) >= '2024-04-01'
                       AND other.status not in ('Error', 'doubled')
                       and other.deleted = 0) R
             left join operatory on uid = id_user
              ) OTHER
     ) Meets
#          left join department on Meets.team = department.team






'''

In [29]:
def connect_db(file):
    dest = None
    print(file)
    if file == 'Maria_db':
        dest = '/root/airflow/dags/not_share/Maria_db.csv'
    elif file == 'cloud_117':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_117.csv'
    elif file == 'cloud_128':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_128.csv'
    elif file == 'cloud_182':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_182.csv'
    elif file == 'cloud_183':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_183.csv'
    elif file == '72':
        dest = '/root/airflow/dags/not_share/Second_cloud_72.csv'
    elif file == 'Combat':
        dest = '/root/airflow/dags/not_share/Combat_server.csv'
    elif file == 'Click':
        dest = '/root/airflow/dags/not_share/ClickHouse.csv'
    # elif file == 'Click2':
    #     dest = '/root/airflow/dags/not_share/ClickHouse2.csv'
    elif file == 'Server_MySQL':
        dest = '/root/airflow/dags/not_share/Server_files_MySQL.csv'
    elif file == 'DBS':
        dest = '/root/airflow/dags/not_share/DBS.csv'
    else:
        print('cloud_183')
        print('Неизвестный сервер.')

    print(dest)

    if dest:
        with open(dest) as file:
            for now in file:
                now = now.strip().split('=')
                first, second = now[0].strip(), now[1].strip()
                if first == 'host':
                    host = second
                elif first == 'user':
                    user = second
                elif first == 'password':
                    password = second
        return host, user, password

In [30]:
team_sql = '''with fio as (select id, concat(first_name, ' ', last_name) fio, team,penalty_c
             from (select id,
                          first_name,
                          last_name,
                          department_c,
                          REGEXP_SUBSTR(first_name, '[0-9]+') team,
--                          case
--                              when substring_index(substring_index(first_name, ' ', 3), ' ', -1) REGEXP '^[0-9]+$'
--                                  then substring_index(substring_index(first_name, ' ', 3), ' ', -1)
--                              when substring_index(substring_index(first_name, ' ', 4), ' ', -1) REGEXP '^[0-9]+$'
--                                  then substring_index(substring_index(first_name, ' ', 4), ' ', -1)
--                              else
--                                  (case
--                                       when left(first_name, instr(first_name, ' ') - 1) > 0 and
--                                            left(first_name, instr(first_name, ' ') - 1) < 10000
--                                           then left(first_name, instr(first_name, ' ') - 1)
--                                       when left(first_name, 2) = '�_'
--                                           then substring(first_name, 3, (instr(first_name, ' ') - 3))
--                                       when left(first_name, 1) = '�'
--                                           then substring(first_name, 2, (instr(first_name, ' ') - 1))
--
--                                       else '' end)
--                              end team,
penalty_c

                   from suitecrm.users
                            left join suitecrm.users_cstm on users.id = users_cstm.id_c
                   where id in (select distinct supervisor from suitecrm.worktime_supervisor)) R1),
  userrr as (SELECT distinct users.id,
                concat(first_name, ' ', last_name) fio,
                REGEXP_SUBSTR(first_name, '[0-9]+') team,
--                case
--                    when substring_index(substring_index(first_name, ' ', 3), ' ', -1) REGEXP '^[0-9]+$'
--                        then substring_index(substring_index(first_name, ' ', 3), ' ', -1)
--                    when substring_index(substring_index(first_name, ' ', 4), ' ', -1) REGEXP '^[0-9]+$'
--                        then substring_index(substring_index(first_name, ' ', 4), ' ', -1)
--                    else
--                        (case
--                             when left(first_name, instr(first_name, ' ') - 1) > 0 and
--                                  left(first_name, instr(first_name, ' ') - 1) < 10000
--                                 then left(first_name, instr(first_name, ' ') - 1)
--                             when left(first_name, 2) = '�_'
--                                 then substring(first_name, 3, (instr(first_name, ' ') - 3))
--                             when left(first_name, 1) = '�'
--                                 then substring(first_name, 2, (instr(first_name, ' ') - 1))
--
--                             else '' end)
--                    end team,
                fio.fio supervisor,
                             penalty_c
FROM suitecrm.users
         left join (select id_user, supervisor
                    from (select id_user,
                                 supervisor,
                                 date(date_start),
                                 row_number() over (partition by id_user order by date_start desc) rn
                          from suitecrm.worktime_supervisor) R
                    where rn = 1) worktime_supervisor on users.id = id_user
         left join fio on supervisor = fio.id)

select id,fio, replace(team,' ','') team, supervisor, penalty_c
from userrr
# where fio is not null
# and id = '45400544-e3e6-f4fb-f1dd-5c500fb13e8c' '''

In [31]:
sql_steps = '''with config as (select index_number                                  step,
                       replace(replace(queue, '_NEW^', ''), '^', '') dialogs,
                       case when action_type>0 and check_exit = 1 then '0'
                        when action_type>0 and check_exit = 0 then '1' end type_steps
                from suitecrm.jc_robconfig_step step
                         left join suitecrm.jc_robconfig_step_cstm cstm on step.id = cstm.id_c
                         left join suitecrm.jc_robconfig_dialog_jc_robconfig_step_c sv
                                   on step.id = sv.jc_robconfig_dialog_jc_robconfig_stepjc_robconfig_step_idb
                         left join suitecrm.jc_robconfig_dialog D
                                   on D.id = sv.jc_robconfig_dialog_jc_robconfig_stepjc_robconfig_dialog_ida
                where action_type > 0),
     tabeue as (select step,
                       dialogs,
                       type_steps,
                       SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 1), ',', -1) as queue_1,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 2), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 1), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 2), ',', -1)
                           end                                                    as queue_2,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 3), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 2), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 3), ',', -1)
                           end                                                    as queue_3,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 4), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 3), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 4), ',', -1)
                           end                                                    as queue_4,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 5), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 4), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 5), ',', -1)
                           end                                                    as queue_5,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 6), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 5), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 6), ',', -1)
                           end                                                    as queue_6,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 7), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 6), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 7), ',', -1)
                           end                                                    as queue_7,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 8), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 7), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 8), ',', -1)
                           end                                                    as queue_8,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 9), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 8), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 9), ',', -1)
                           end                                                    as queue_9,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 10), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 9), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 10), ',', -1)
                           end                                                    as queue_10,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 11), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 10), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 11), ',', -1)
                           end                                                    as queue_11,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 12), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 11), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 12), ',', -1)
                           end                                                    as queue_12,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 13), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 12), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 13), ',', -1)
                           end                                                    as queue_13,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 14), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 13), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 14), ',', -1)
                           end                                                    as queue_14,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 15), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 14), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 15), ',', -1)
                           end                                                    as queue_15,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 16), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 15), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 16), ',', -1)
                           end                                                    as queue_16,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 17), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 16), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 17), ',', -1)
                           end                                                    as queue_17,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 18), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 17), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 18), ',', -1)
                           end                                                    as queue_18,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 19), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 18), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 19), ',', -1)
                           end                                                    as queue_19,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 20), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 19), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 20), ',', -1)
                           end                                                    as queue_20,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 21), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 20), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 21), ',', -1)
                           end                                                    as queue_21,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 22), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 21), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 22), ',', -1)
                           end                                                    as queue_22,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 23), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 22), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 23), ',', -1)
                           end                                                    as queue_23,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 24), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 23), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 24), ',', -1)
                           end                                                    as queue_24,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 25), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 24), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 25), ',', -1)
                           end                                                    as queue_25,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 26), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 25), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 26), ',', -1)
                           end                                                    as queue_26,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 27), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 26), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 27), ',', -1)
                           end                                                    as queue_27,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 28), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 27), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 28), ',', -1)
                           end                                                    as queue_28,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 29), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 28), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 29), ',', -1)
                           end                                                    as queue_29,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 30), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 29), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 30), ',', -1)
                           end                                                    as queue_30,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 31), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 20), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 31), ',', -1)
                           end                                                    as queue_31,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 32), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 31), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 32), ',', -1)
                           end                                                    as queue_32,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 33), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 32), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 33), ',', -1)
                           end                                                    as queue_33,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 34), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 33), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 34), ',', -1)
                           end                                                    as queue_34,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 35), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 34), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 35), ',', -1)
                           end                                                    as queue_35,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 36), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 35), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 36), ',', -1)
                           end                                                    as queue_36,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 37), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 36), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 37), ',', -1)
                           end                                                    as queue_37,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 38), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 37), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 38), ',', -1)
                           end                                                    as queue_38,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 39), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 38), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 39), ',', -1)
                           end                                                    as queue_39,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 40), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 39), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 40), ',', -1)
                           end                                                    as queue_40
                from config
                where dialogs is not null
                  and dialogs != ''),
     steps as (select *
               from (
                        select step,
                               queue_1 as ochered,
                               type_steps
                        from tabeue
                        union all
                        select step, queue_2, type_steps
                        from tabeue
                        union all
                        select step, queue_3, type_steps
                        from tabeue
                        union all
                        select step, queue_4, type_steps
                        from tabeue
                        union all
                        select step, queue_5, type_steps
                        from tabeue
                        union all
                        select step, queue_6, type_steps
                        from tabeue
                        union all
                        select step, queue_7, type_steps
                        from tabeue
                        union all
                        select step, queue_8, type_steps
                        from tabeue
                        union all
                        select step, queue_9, type_steps
                        from tabeue
                        union all
                        select step, queue_10, type_steps
                        from tabeue
                        union all
                        select step, queue_11, type_steps
                        from tabeue
                        union all
                        select step, queue_12, type_steps
                        from tabeue
                        union all
                        select step, queue_13, type_steps
                        from tabeue
                        union all
                        select step, queue_14, type_steps
                        from tabeue
                        union all
                        select step, queue_15, type_steps
                        from tabeue
                        union all
                        select step, queue_16, type_steps
                        from tabeue
                        union all
                        select step, queue_17, type_steps
                        from tabeue
                        union all
                        select step, queue_18, type_steps
                        from tabeue
                        union all
                        select step, queue_19, type_steps
                        from tabeue
                        union all
                        select step, queue_20, type_steps
                        from tabeue
                        union all
                        select step, queue_21, type_steps
                        from tabeue
                        union all
                        select step, queue_22, type_steps
                        from tabeue
                        union all
                        select step, queue_23, type_steps
                        from tabeue
                        union all
                        select step, queue_24, type_steps
                        from tabeue
                        union all
                        select step, queue_25, type_steps
                        from tabeue
                        union all
                        select step, queue_26, type_steps
                        from tabeue
                        union all
                        select step, queue_27, type_steps
                        from tabeue
                        union all
                        select step, queue_28, type_steps
                        from tabeue
                        union all
                        select step, queue_29, type_steps
                        from tabeue
                        union all
                        select step, queue_30, type_steps
                        from tabeue
                        union all
                        select step, queue_31, type_steps
                        from tabeue
                        union all
                        select step, queue_32, type_steps
                        from tabeue
                        union all
                        select step, queue_33, type_steps
                        from tabeue
                        union all
                        select step, queue_34, type_steps
                        from tabeue
                        union all
                        select step, queue_35, type_steps
                        from tabeue
                        union all
                        select step, queue_36, type_steps
                        from tabeue
                        union all
                        select step, queue_37, type_steps
                        from tabeue
                        union all
                        select step, queue_38, type_steps
                        from tabeue
                        union all
                        select step, queue_39, type_steps
                        from tabeue
                        union all
                        select step, queue_40, type_steps
                        from tabeue

                    ) as t2
               where ochered is not null),
     config2 as (select substring(turn, 11, 4) ochered, steps_transferred step, '1' type_steps
                 from suitecrm.jc_robot_reportconfig
                 where deleted = 0
                   and substring(turn, 11, 4) not in (select ochered from steps)
                   and steps_transferred != ''),
     tabeue2 as (select step,
                        ochered,
                        type_steps,
                        SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 1), ',', -1) as step_1,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 2), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 1), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 2), ',', -1)
                            end                                                 as step_2,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 3), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 2), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 3), ',', -1)
                            end                                                 as step_3,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 4), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 3), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 4), ',', -1)
                            end                                                 as step_4,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 5), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 4), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 5), ',', -1)
                            end                                                 as step_5,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 6), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 5), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 6), ',', -1)
                            end                                                 as step_6,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 7), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 6), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 7), ',', -1)
                            end                                                 as step_7,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 8), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 7), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 8), ',', -1)
                            end                                                 as step_8,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 9), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 8), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 9), ',', -1)
                            end                                                 as step_9,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 10), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 9), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 10), ',', -1)
                            end                                                 as step_10,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 11), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 10), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 11), ',', -1)
                            end                                                 as step_11,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 12), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 11), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 12), ',', -1)
                            end                                                 as step_12,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 13), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 12), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 13), ',', -1)
                            end                                                 as step_13,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 14), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 13), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 14), ',', -1)
                            end                                                 as step_14,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 15), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 14), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 15), ',', -1)
                            end                                                 as step_15,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 16), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 15), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 16), ',', -1)
                            end                                                 as step_16,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 17), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 16), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 17), ',', -1)
                            end                                                 as step_17,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 18), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 17), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 18), ',', -1)
                            end                                                 as step_18,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 19), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 18), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 19), ',', -1)
                            end                                                 as step_19,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 20), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 19), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 20), ',', -1)
                            end                                                 as step_20,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 21), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 20), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 21), ',', -1)
                            end                                                 as step_21,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 22), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 21), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 22), ',', -1)
                            end                                                 as step_22,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 23), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 22), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 23), ',', -1)
                            end                                                 as step_23,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 24), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 23), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 24), ',', -1)
                            end                                                 as step_24,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 25), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 24), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 25), ',', -1)
                            end                                                 as step_25,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 26), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 25), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 26), ',', -1)
                            end                                                 as step_26,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 27), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 26), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 27), ',', -1)
                            end                                                 as step_27,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 28), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 27), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 28), ',', -1)
                            end                                                 as step_28,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 29), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 28), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 29), ',', -1)
                            end                                                 as step_29,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 30), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 29), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 30), ',', -1)
                            end                                                 as step_30,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 31), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 20), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 31), ',', -1)
                            end                                                 as step_31,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 32), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 31), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 32), ',', -1)
                            end                                                 as step_32,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 33), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 32), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 33), ',', -1)
                            end                                                 as step_33,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 34), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 33), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 34), ',', -1)
                            end                                                 as step_34,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 35), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 34), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 35), ',', -1)
                            end                                                 as step_35,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 36), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 35), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 36), ',', -1)
                            end                                                 as step_36,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 37), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 36), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 37), ',', -1)
                            end                                                 as step_37,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 38), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 37), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 38), ',', -1)
                            end                                                 as step_38,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 39), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 38), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 39), ',', -1)
                            end                                                 as step_39,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 40), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 39), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 40), ',', -1)
                            end                                                 as step_40
                 from config2),
     steps2 as (select *
               from (
                        select step,
                               queue_1 as ochered, type_steps
                        from tabeue
                        union all
                        select step, queue_2, type_steps
                        from tabeue
                        union all
                        select step, queue_3, type_steps
                        from tabeue
                        union all
                        select step, queue_4, type_steps
                        from tabeue
                        union all
                        select step, queue_5, type_steps
                        from tabeue
                        union all
                        select step, queue_6, type_steps
                        from tabeue
                        union all
                        select step, queue_7, type_steps
                        from tabeue
                        union all
                        select step, queue_8, type_steps
                        from tabeue
                        union all
                        select step, queue_9, type_steps
                        from tabeue
                        union all
                        select step, queue_10, type_steps
                        from tabeue
                        union all
                        select step, queue_11, type_steps
                        from tabeue
                        union all
                        select step, queue_12, type_steps
                        from tabeue
                        union all
                        select step, queue_13, type_steps
                        from tabeue
                        union all
                        select step, queue_14, type_steps
                        from tabeue
                        union all
                        select step, queue_15, type_steps
                        from tabeue
                        union all
                        select step, queue_16, type_steps
                        from tabeue
                        union all
                        select step, queue_17, type_steps
                        from tabeue
                        union all
                        select step, queue_18, type_steps
                        from tabeue
                        union all
                        select step, queue_19, type_steps
                        from tabeue
                        union all
                        select step, queue_20, type_steps
                        from tabeue
                        union all
                        select step, queue_21, type_steps
                        from tabeue
                        union all
                        select step, queue_22, type_steps
                        from tabeue
                        union all
                        select step, queue_23, type_steps
                        from tabeue
                        union all
                        select step, queue_24, type_steps
                        from tabeue
                        union all
                        select step, queue_25, type_steps
                        from tabeue
                        union all
                        select step, queue_26, type_steps
                        from tabeue
                        union all
                        select step, queue_27, type_steps
                        from tabeue
                        union all
                        select step, queue_28, type_steps
                        from tabeue
                        union all
                        select step, queue_29, type_steps
                        from tabeue
                        union all
                        select step, queue_30, type_steps
                        from tabeue
                        union all
                        select step, queue_31, type_steps
                        from tabeue
                        union all
                        select step, queue_32, type_steps
                        from tabeue
                        union all
                        select step, queue_33, type_steps
                        from tabeue
                        union all
                        select step, queue_34, type_steps
                        from tabeue
                        union all
                        select step, queue_35, type_steps
                        from tabeue
                        union all
                        select step, queue_36, type_steps
                        from tabeue
                        union all
                        select step, queue_37, type_steps
                        from tabeue
                        union all
                        select step, queue_38, type_steps
                        from tabeue
                        union all
                        select step, queue_39, type_steps
                        from tabeue
                        union all
                        select step, queue_40, type_steps
                        from tabeue
                        union all
                        select step_1, ochered, type_steps
                        from tabeue2
                        union all
                        select step_2
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_3
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_4
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_5
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_6
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_7
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_8
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_9
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_10
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_11
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_12
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_13
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_14
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_15
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_16
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_17
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_18
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_19
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_20
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_21
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_22
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_23
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_24
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_25
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_26
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_27
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_28
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_29
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_30
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_31
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_32
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_33
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_34
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_35
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_36
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_37
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_38
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_39
                             , ochered, type_steps
                        from tabeue2
                        union all
                        select step_40
                             , ochered, type_steps
                        from tabeue2
                    ) as t2
               where ochered is not null and step is not null)

select *
from steps2
# where ochered in (9133)
# 9129,
# 9243,
# 9258,
# 9048,
# 9251,
# 9241,
# 9219,
# 9091,
# 9204)

'''

In [32]:
sql_dialogi = '''select jc2.id,
       datecall,
       jc2.assigned_user_id,
       phone,
       network_provider,
       jc2.ptv_c,
       jc2.region_c,
       marker,
       last_step,
       queue,
       destination_queue,
       was_repeat,
       inbound_call,
       if(jc2.city_c is null or jc2.city_c in ('', 0), concat(jc2.town, '_t'), jc2.city_c) as city_c,
       case
           when (ptv_c like '%^3^%'
               or ptv_c like '%^5^%'
               or ptv_c like '%^6^%'
               or ptv_c like '%^10^%'
               or ptv_c like '%^11^%'
               or ptv_c like '%^19^%'
               or ptv_c like '%^14^%') then 'ptv_1'
           when (base_source_c like '%220%' or base_source_c like '%221%' or base_source_c like '%222%' or
                 base_source_c like '%223%' or base_source_c like '%224%') then 'bno'

           when base_source_c like '%63%' and region_c in (1, 3) then '63_1'
           when base_source_c like '%63%' and region_c in (2, 4, 5, 6, 7) then concat('63_', region_c)
           when base_source_c like '%63%' and (region_c is null or region_c in ('', ' ')) then '63_0'

           when base_source_c like '%62%' and region_c in (1, 3) then '62_1'
           when base_source_c like '%62%' and region_c in (2, 4, 5, 6, 7) then concat('62_', region_c)
           when base_source_c like '%62%' and (region_c is null or region_c in ('', ' ')) then '62_0'

           when base_source_c like '%60%' and region_c in (1, 3) then '60_1'
           when base_source_c like '%60%' and region_c in (2, 4, 5, 6, 7) then concat('60_', region_c)
           when base_source_c like '%60%' and (region_c is null or region_c in ('', ' ')) then '60_0'

           when base_source_c like '%61%' and region_c in (1, 3) then '61_1'
           when base_source_c like '%61%' and region_c in (2, 4, 5, 6, 7) then concat('61_', region_c)
           when base_source_c like '%61%' and (region_c is null or region_c in ('', ' ')) then '61_0'

           else region_c end                                                                  region_c2,
#        city_c,
       directory,
       trunk_id
#        if(datecall < '2023-04-01',city_c,city) as city_c
from (select distinct jc.uniqueid                                                                    id,
                      DATE(jc.call_date)                                                             datecall,
                      jc.assigned_user_id,
                      jc.phone,
                      jc.city_c,
                      jc.town,
                      if(jc.city_c is null or jc.city_c = '', concat(cm.town_c, '_t'), jc.city_c) as city,
                      case
                          when jc.network_provider_c = '83' then 'МТС'
                          when jc.network_provider_c = '80' then 'Билайн'
                          when jc.network_provider_c = '82' then 'Мегафон'
                          when jc.network_provider_c = '10' then 'Теле2'
                          when jc.network_provider_c = '68' then 'Теле2'
                          else 'MVNO'
                          end                                                                        network_provider,
                      jc.ptv_c,
                      jc.region_c,
                      jc.marker,
                      jc.last_step,
                      queue,
                      destination_queue,
                      was_repeat,
                      inbound_call,
                      jc.base_source_c,
                      directory,
                      trunk_id
      from (select uniqueid,
                   call_date,
                   assigned_user_id,
                   phone,
                   city_c,
                   town,
                   network_provider_c,
                   ptv_c,
                   region_c,
                   marker,
                   last_step,
                   REGEXP_REPLACE(dialog, '[^0-9]', '')                                                 as queue,
                   was_repeat,
                   inbound_call,
                   directory,
                   trunk_id,
                   base_source_c
            from suitecrm_robot.jc_robot_log
            WHERE date(call_date) >= '2023-07-01'
              and jc_robot_log.assigned_user_id not in ('1', '')
            union all
            select uniqueid,
                   call_date,
                   assigned_user_id,
                   phone,
                   city_c,
                   town,
                   network_provider_c,
                   ptv_c,
                   region_c,
                   marker,
                   last_step,
                   REGEXP_REPLACE(dialog, '[^0-9]', '')                                                 as queue,
                   was_repeat,
                   inbound_call,
                   directory,
                   trunk_id,
                   base_source_c
            from suitecrm_robot.jc_robot_log_2024_09 jc1
            WHERE jc1.assigned_user_id not in ('1', '')
            union all
            select uniqueid,
                   call_date,
                   assigned_user_id,
                   phone,
                   city_c,
                   town,
                   network_provider_c,
                   ptv_c,
                   region_c,
                   marker,
                   last_step,
                   REGEXP_REPLACE(dialog, '[^0-9]', '')                                                 as queue,
                   was_repeat,
                   inbound_call,
                   directory,
                   trunk_id,
                   base_source_c
            from suitecrm_robot.jc_robot_log_2024_12 jc2
            WHERE jc2.assigned_user_id not in ('1', '')
            union all
            select uniqueid,
                   call_date,
                   assigned_user_id,
                   phone,
                   city_c,
                   town,
                   network_provider_c,
                   ptv_c,
                   region_c,
                   marker,
                   last_step,
                   REGEXP_REPLACE(dialog, '[^0-9]', '')                                                 as queue,
                   was_repeat,
                   inbound_call,
                   directory,
                   trunk_id,
                   base_source_c
            from suitecrm_robot.jc_robot_log_2024_11 jc3
            WHERE jc3.assigned_user_id not in ('1', '')
            union all
            select uniqueid,
                   call_date,
                   assigned_user_id,
                   phone,
                   city_c,
                   town,
                   network_provider_c,
                   ptv_c,
                   region_c,
                   marker,
                   last_step,
                   REGEXP_REPLACE(dialog, '[^0-9]', '')                                                 as queue,
                   was_repeat,
                   inbound_call,
                   directory,
                   trunk_id,
                   base_source_c
            from suitecrm_robot.jc_robot_log_2024_10 jc3
            WHERE jc3.assigned_user_id not in ('1', '')
            union all
            SELECT robot_log_id         uniqueid,
                   call_date,
                   operator_id      assigned_user_id,
                   phone,
                   city             city_c,
                   region           town,
                   network_provider network_provider_c,
                   ptv              ptv_c,
                   quality          region_c,
                   marker,
                   last_step,
                   robot_id         queue,
                   was_ptv          was_repeat,
                   direction        inbound_call,
                   voice            directory,
                   trunk_id,
                   base_source      base_source_c
            FROM suitecrm_robot.robot_log
                     left join suitecrm_robot.robot_log_addition on robot_log.id = robot_log_addition.robot_log_id
            WHERE date(call_date) >= '2025-02-01'
              and robot_log_addition.operator_id not in ('1', '')
           ) jc
               left join suitecrm.contacts c on c.phone_work = jc.phone
               left join suitecrm.contacts_cstm cm on cm.id_c = c.id
               left join (select distinct *
                          from suitecrm.transferred_to_other_queue
                          union all
                          select robot_id     dialog,
                                 transfer     destination_queue,
                                 call_date    date,
                                 robot_log_id uniqueid,
                                 phone
                          FROM suitecrm_robot.robot_log
                                   left join suitecrm_robot.robot_log_addition
                                             on robot_log.id = robot_log_addition.robot_log_id
                          where transfer is not null
                            and transfer != '') tr on jc.uniqueid = tr.uniqueid and tr.phone = jc.phone
      WHERE
#             date(call_date) >= '2023-10-01'
#         and
jc.assigned_user_id not in ('1', '')) jc2


where last_step in ({})
# or inbound_call = 1

'''

In [ ]:
import pandas as pd
import pymysql as MySQLdb


team_project = team_project()
team_project['date'] = team_project['date'].astype('str')
team_project['team'] = team_project['team'].astype('str')

# host72 = "192.168.1.182"
# host128 = "192.168.1.183"
cloud =  ['base_dep_slave', 'IyHBh9mDBdpg', '192.168.1.183', 'suitecrm']
# Connect_host = host128

# path_steps = r'\\192.168.1.157\dbs\scripts fsp\Steps.sql'
# sql_steps = open(path_steps, 'r').read()

# Con = MySQLdb.Connect(host=Connect_host, user="base_dep_slave", passwd="IyHBh9mDBdpg", db="suitecrm",
#                       charset='utf8')
print('steps')
# steps = pd.read_sql_query(sql_steps, Con)
steps = get_data_request(sql_steps, cloud)
steps2 = step_perevod()
steps = str(list(dict.fromkeys(steps.step.to_list()+steps2.step.to_list()))).strip('[]')

# path_dialogi = r'\\192.168.1.157\dbs\scripts fsp\Заявки_диалоги.sql'
# sql_dialogi = open(path_dialogi, 'r', encoding='utf-8').read().replace('п»ї','').replace('﻿','').format(steps)
sql_dialogi = sql_dialogi.format(steps)
# path_part1 = r'\\192.168.1.157\dbs\scripts fsp\Заявки_заявки.sql'
# sql_part1 = open(path_part1, 'r', encoding='utf-8').read()

# Con = MySQLdb.Connect(host=Connect_host, user="base_dep_slave", passwd="IyHBh9mDBdpg", db="suitecrm",
#                       charset='utf8')
print('dialogi')
# dialogi = pd.read_sql_query(sql_dialogi, Con)
dialogi = get_data_request(sql_dialogi, cloud)
dialogi['datecall'] = pd.to_datetime(dialogi['datecall'])
dialogi['last_step'] = dialogi['last_step'].fillna(0).astype('int').astype('str')
dialogi['queue'] = dialogi['queue'].fillna(0).astype('int').astype('str')

dialogi = dialogi.merge(steps2, how = 'left', left_on = ['queue','last_step','datecall'], right_on = ['ochered', 'step', 'date']).fillna('0').query('step != "0"')
dialogi['RN'] = dialogi.sort_values(['datecall'], ascending=[True]).groupby(
    ['phone', 'assigned_user_id']).cumcount() + 1
dialogi = dialogi[dialogi['RN'] == 1]

print('meetings')
# Con = MySQLdb.Connect(host=Connect_host, user="base_dep_slave", passwd="IyHBh9mDBdpg", db="suitecrm",
#                       charset='utf8')

# part1 = pd.read_sql_query(sql_part1, Con)


# path_team = r'\\192.168.1.157\dbs\scripts fsp\Пользователи.sql'
# team_sql = open(path_team, 'r', encoding='utf-8').read()
# Con = MySQLdb.Connect(host=Connect_host, user="base_dep_slave", passwd="IyHBh9mDBdpg", db="suitecrm",
#                       charset='utf8')
# teams = pd.read_sql_query(team_sql, Con).fillna('')

Всего файлов 148
steps
mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.182/suitecrm?charset=utf8
Всего файлов 148
dialogi
mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.182/suitecrm?charset=utf8

Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 803, in _write_bytes
    self._sock.sendall(data)
ConnectionResetError: [Errno 104] Connection reset by peer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 763, in _finalize_fairy
    fairy._reset(pool, transaction_was_reset)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 1038, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 487, in rollback
    self._execute_command(COMMAND.COM_QUERY, "ROLLBACK")
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 861, in _execute_command
    self._write_bytes(packet)
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 806, in _write_bytes
    raise err.OperationalError(
pymysql.err.OperationalError: (2006, "MySQL server has gone away (ConnectionResetError(104, 'Connection reset by peer'))")

meetings
mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.182/suitecrm?charset=utf8

In [39]:
part1 = get_data_request(sql_part1, cloud)
teams = get_data_request(team_sql, cloud)

part1 = part1.merge(teams, how = 'left', left_on = 'uid', right_on = 'id')
def team_y(row):
    if row['team_x'] == '':
        return row['team_y']
    else:
        return row['team_x']
        
def city_c(row):
    if row['city_c_y'] == 0.0:
        return row['city_c_x']
    else:
        return row['city_c_y']

part1['team'] = part1.apply(lambda row: team_y(row), axis=1)

# part1['module'] = part1.apply(lambda row: def_meetings_functions.meet_proect(row), axis=1)

konva = part1.merge(dialogi, how='left', left_on=['uid', 'phone_work'], right_on=['assigned_user_id', 'phone'])

konva['date'] = konva['date_entered']
konva['datecall'] = konva['datecall'].fillna(0)
konva['date'] = konva.apply(lambda row: date_1(row), axis=1)
# konva = konva[((konva['date'] >= konva['start']) & (konva['date'] <= konva['stop'])) | (konva['date'] == "")]

konva['region_c'] = konva['region_c'].fillna(0).astype('int')
konva['region'] = konva['region_c'].astype('str')
konva['ptv_c'] = konva['ptv_c'].fillna('^0^')
konva['region'] = konva.apply(lambda row: region(row), axis=1)
konva = konva.fillna(0)
konva['city_c'] = konva.apply(lambda row: city_c(row), axis=1)

konva[['destination_queue', 'queue', 'last_queue_c']] = konva[['destination_queue', 'queue', 'last_queue_c']].fillna(0)
konva['queue_c'] = konva.apply(lambda row: queue(row), axis=1)
konva['destination_queue_c'] = konva.apply(lambda row: destination_queue(row), axis=1)

konva['date'] = konva['date'].astype('str').apply(lambda x: x.replace(' 00:00:00',''))
konva['team'] = konva['team'].astype('str')
konva = konva.merge(team_project, how='left', on=['date', 'team'])
konva['team_project'] = konva['team_project'].fillna('0')

konva['check_team_project'] = konva.apply(lambda row: check_team_project(row), axis=1)

konva['project'] = konva.apply(lambda row: meet_proect_final(row), axis=1)

# konva = konva.rename(columns={'queue_c': 'queue'})
konva['organization'] = konva.apply(lambda row: organization(row), axis=1)


sql_log = '''with other_status as (select parent_id,
                             date_created,
                             before_value_string,
                             after_value_string,
                             jc_meetings_other_audit.created_by
                      from suitecrm.jc_meetings_other_audit
                               left join suitecrm.jc_meetings_other
                                         on jc_meetings_other.id = jc_meetings_other_audit.parent_id
                               left join suitecrm.jc_meetings_other_cstm on id_c = jc_meetings_other_audit.parent_id
                      where jc_meetings_other.project in ('selection', 'hr')
                        and field_name = 'status'
                        and date(date_entered) >= '2023-10-01'),
     other_date_start as (select jc_meetings_other_audit.id,
                                 parent_id,
                                 date_created,
                                 before_value_string,
                                 after_value_string,
                                 jc_meetings_other_audit.created_by
                          from suitecrm.jc_meetings_other_audit
                                   left join suitecrm.jc_meetings_other
                                             on jc_meetings_other.id = jc_meetings_other_audit.parent_id
                                   left join suitecrm.jc_meetings_other_cstm on id_c = jc_meetings_other_audit.parent_id
                          where jc_meetings_other.project in ('selection', 'hr')
                            and field_name = 'date_start'
                            and date(date_entered) >= '2023-10-01'),
     start_join as (select other_status.parent_id,
                           other_status.date_created,
                           other_status.before_value_string     status_before,
                           other_status.after_value_string      status_after,
                           other_date_start.before_value_string date_before,
                           other_date_start.after_value_string  date_after,
                           other_date_start.id                  other_date_start_id
                    from other_status
                             left join other_date_start on other_status.parent_id = other_date_start.parent_id and
                                                           other_status.date_created = other_date_start.date_created and
                                                           other_status.created_by = other_date_start.created_by),
     final_join as (select parent_id,
                           date_created,
                           status_before,
                           status_after,
                           date_before,
                           date_after
                    from start_join
                    union all
                    select parent_id,
                           date_created,
                           ''                                   status_before,
                           ''                                   status_after,
                           other_date_start.before_value_string date_before,
                           other_date_start.after_value_string  date_after
                    from other_date_start
                    where id not in (select other_date_start_id
                                     from start_join) )

select parent_id,
                           date_created,
                           status_before,
                           status_after,
                           date_before,
                           date_after
from final_join'''

# Con = MySQLdb.Connect(host=Connect_host, user="base_dep_slave", passwd="IyHBh9mDBdpg", db="suitecrm",
#                       charset='utf8')

mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.182/suitecrm?charset=utf8
mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.182/suitecrm?charset=utf8

In [40]:
log = get_data_request(sql_log, cloud).drop_duplicates()
# log = pd.read_sql_query(sql_log, Con).drop_duplicates()
log_full = log.merge(konva, how='left', left_on='parent_id', right_on='rtkid')[['parent_id', 'date_created', 'status_before', 'status_after',
       'date_before', 'date_after', 'project', 'team', 'uid', 'fio_x', 'date', 'date_entered', 'status', 'konva', 'tarif',
                             'marker', 'last_step', 'region','region_c2', 'queue_c', 'destination_queue_c',
                             'network_provider','organization','directory','trunk_id',
                             'city_c']].rename(
    columns={'date': 'calldate',
             'fio_x': 'fio',
             'queue_c': 'queue',
             'destination_queue_c': 'destination_queue',
             'project': 'proect'})
log_full['rn'] = log_full.sort_values('date_created').groupby(['parent_id']).cumcount() + 1
log_path = '/root/airflow/dags/liza_test/Files/Воронка рекрутинга.csv'
log_full.to_csv(log_path, index=False)
dbs_log = 'scripts fsp\Current Files\Воронка рекрутинга.csv'

mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.182/suitecrm?charset=utf8

In [41]:
save_file_to_dbs(log_path, dbs_log)


konva_group = konva.groupby(['project', 'team', 'uid', 'fio_x', 'date', 'date_entered', 'status', 'konva', 'tarif',
                             'department', 'marker', 'last_step', 'region','region_c2', 'queue_c', 'destination_queue_c',
                             'network_provider','organization','directory','inbound_call',
                             'city_c','trunk_id'], as_index=False, dropna=False).agg({'rtkid': 'count'}).rename(
    columns={'rtkid': 'vsego',
             'date': 'calldate',
             'fio_x': 'fio',
             'queue_c': 'queue',
             'destination_queue_c': 'destination_queue',
             # 'city_c_x': 'city_c',
             'project': 'proect'})
konva_path = '/root/airflow/dags/liza_test/Files/Заявки_номера.csv'
konva.to_csv(konva_path, index=False)
konva_group_path = '/root/airflow/dags/liza_test/Files/Заявки.csv'
konva_group.to_csv(konva_group_path, index=False)
to_dbs_konva = 'scripts fsp\Current Files\Заявки_номера.csv'
save_file_to_dbs(konva_path, to_dbs_konva)
to_dbs_konva_group = 'scripts fsp\Current Files\Заявки.csv'
save_file_to_dbs(konva_group_path, to_dbs_konva_group)


# import requests
# from urllib.parse import urlencode
# from datetime import datetime

# token = '5232984306:AAERQkP-trXpL4qbCivxAINX-Oz0oSL3hVY'
# chat_id = 738716223  # your chat id

# today_date = datetime.today().strftime("%d/%m/%Y")
# message = today_date+' Скачиваем файл'  # text which you want to send

# params = {'chat_id': chat_id, 'text': message}
# base_url = f'https://api.telegram.org/bot{token}/'

# to_save = 'scripts fsp\Current Files\Заявки_номера.csv'
# file_path = '/root/airflow/dags/liza_test/Files/trafic.csv'
# trafic.to_csv(file_path, index=False)
# save_file_to_dbs(file_path, to_save)

# filepath = to_save
# url = base_url + 'sendDocument?' + urlencode(params)
# files = {'document': open(filepath, 'rb')}
# # resp = requests.get(url, files=files)

DBS
/root/airflow/dags/not_share/DBS.csv

connection ok!
file_to_save <_io.BufferedReader name='/root/airflow/dags/liza_test/Files/Воронка рекрутинга.csv'>
save done
DBS
/root/airflow/dags/not_share/DBS.csv
connection ok!
file_to_save <_io.BufferedReader name='/root/airflow/dags/liza_test/Files/Заявки_номера.csv'>
save done
DBS
/root/airflow/dags/not_share/DBS.csv
connection ok!
file_to_save <_io.BufferedReader name='/root/airflow/dags/liza_test/Files/Заявки.csv'>
save done