In [1]:
# Сервера

from sqlalchemy import create_engine
from sqlalchemy.sql import text
import requests
import pandas as pd

def get_data_permonth(sql_download, cloud, date_i, date_before, file_path):

    # Создание строки подключения для SQLAlchemy
    connection_string = f'mysql+pymysql://{cloud[0]}:{cloud[1]}@{cloud[2]}/{cloud[3]}?charset=utf8'
    print(connection_string)
    engine = create_engine(connection_string)
    sql_request = open(sql_download, "r", encoding='utf8', errors='ignore').read().format(date_before = date_before, date_i = date_i)

    # Использование контекстного менеджера для безопасного открытия и закрытия соединения
    with engine.connect() as connection:
        df = pd.read_sql_query(text(sql_request), connection).fillna('')
        
        df.fillna('').to_csv(file_path, index = False)   

date_i = '2025-02-18'
date_before = '2025-02-21'

host_dict = {
    
    '30' : '192.168.1.125',
    '7'  : '192.168.1.85',    
    '26' : '192.168.1.103',     
    '34' : '192.168.1.130',
    '57' : '192.168.1.118',
    '58' : '192.168.1.116',
    '51' : '192.168.1.146',
    '6'  : '192.168.1.84',
    '31' : '192.168.1.127',
    '50' : '192.168.1.114',
    '55' : '192.168.1.110',
    '36' : '192.168.1.59',
    '56' : '192.168.1.113',
    '29' : '192.168.1.124',    
    '3'  : '192.168.1.81',
    '2'  : '192.168.1.131',
    '25' : '192.168.1.123',    
    '27' : '192.168.1.86',
    '4'  : '192.168.1.36',
    '59' : '192.168.1.147',
    '1'  : '192.168.1.15',    
    '54' : '192.168.1.156',
    '32' : '192.168.1.129',
    '52' : '192.168.1.109',
    '33' : '192.168.1.126',
    '28' : '192.168.1.122',
    '04' : '192.168.1.87',
    '05' : '192.168.1.107'
}

user='robot_read_only'
passwd='du9Itg5bnzTb'
db='robot'

In [12]:
def get_data(host_dict, user, passwd, db):
    j = 0
    for server_name, server in host_dict.items():
        print(server)
        cloud = [user, passwd, server, db]
        connection_string = f'mysql+pymysql://{cloud[0]}:{cloud[1]}@{cloud[2]}/{cloud[3]}?charset=utf8'
        print(connection_string)
        engine = create_engine(connection_string)
       
        # Использование контекстного менеджера для безопасного открытия и закрытия соединения
        with engine.connect() as connection:
            
            table_list = pd.read_sql_query(text('''SHOW TABLES'''), connection)
            i = 0
            for table in table_list['Tables_in_robot'].values:
                if table.startswith('cel_just-call-9') and len(table) < 25:
                    print(table)

                    sql_request = f'''SELECT unique_id,
                                            call_date,
                                            last_step,
                                            billsec,
                                            real_billsec
                                        from robot.{table}
                                        where date(call_date) between '{date_before}' and '{date_i}'
                                            '''
                    if i == 0:
                        df_1 = pd.read_sql_query(text(sql_request), connection)
                        df_1['server_number'] = server_name
                        df_1['queue'] = table[14:18]
                        result = df_1
                        print('first_result_size ', df_1.shape[0])
                    else:
                        new_df = pd.read_sql_query(text(sql_request), connection)
                        new_df['server_number'] = server_name
                        new_df['queue'] = table[14:18]
                        result = pd.concat([new_df, df], ignore_index= True)
                        print('result_size ', df_1.shape[0])
                    i += 1
                    df = result
        if j == 0:
            calls = df
            print('calls_size ', calls.shape[0])
        else:
            calls_full = pd.concat([calls, df], ignore_index = True)
            calls = calls_full
        j += 1

In [54]:
cloud = ['base_dep_slave', 'IyHBh9mDBdpg', '192.168.1.183', 'suitecrm']
def get_data_permonth(cloud, date_i):
    
    sql_request = f'''SELECT uniqueid,
                            date(call_date),
                            last_step,
                            billsec,
                            real_billsec, 
                            server_number

                        from suitecrm_robot.jc_robot_log
                        where date(call_date) = '{date_i}'
                            '''

    # Создание строки подключения для SQLAlchemy
    connection_string = f'mysql+pymysql://{cloud[0]}:{cloud[1]}@{cloud[2]}/{cloud[3]}?charset=utf8'
    print(connection_string)
    engine = create_engine(connection_string)
    

    # Использование контекстного менеджера для безопасного открытия и закрытия соединения
    with engine.connect() as connection:
        df = pd.read_sql_query(text(sql_request), connection).fillna('')
        return df

In [50]:
date_i ='2025-02_18'
df_18 = get_data_permonth(cloud, date_i).fillna('0')
df_18

mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.183/suitecrm?charset=utf8

,uniqueid,date(call_date),last_step,billsec,real_billsec,server_number
0,1739871411.50194.51,2025-02-18,261,1,1.0,51
1,1739871388.50110.51,2025-02-18,111,2,4.0,51
2,1739871391.50131.51,2025-02-18,111,3,4.0,51
3,1739871366.50050.51,2025-02-18,2,35,36.0,51
4,1739868270.3414389.1,2025-02-18,79,97,195.0,1
...,...,...,...,...,...,...
2194097,1739871385.50103.51,2025-02-18,2,8,9.0,51
2194098,1739871386.50105.51,2025-02-18,111,4,6.0,51
2194099,1739871390.50120.51,2025-02-18,2,9,10.0,51
2194100,1739871402.50168.51,2025-02-18,111,9,11.0,51
2194101,1739871403.50175.51,2025-02-18,111,16,19.0,51

In [51]:
df_18['last_step'] = df_18['last_step'].astype(str)
df_18['billsec'] = df_18['billsec'].fillna('0').astype(int)
df_18['real_billsec'] = df_18['real_billsec'].apply(lambda x: 0 if x == '' else x).astype(int)
df_18['real_billsec'] = df_18['real_billsec'].fillna('0').astype(int)

df_18['live_call'] = df_18['last_step'].apply(lambda x: 1 if x not in ("","0","1","111","261","262","361","362","371","372") else 0)

df_18['261'] = df_18['last_step'].apply(lambda x: 1 if x == "261" else 0)
df_18['111'] = df_18['last_step'].apply(lambda x: 1 if x == "111" else 0)


df_res = df_18.fillna('0').groupby('server_number').agg({ 'uniqueid' : 'count', 

                                            'live_call' : 'sum',
                                           '261' :'sum',
                                             '111' : 'sum',
                                            'billsec':'sum',
                                            'real_billsec' : 'sum'}).reset_index()

df_res['261_percent'] = round(df_res['261'] / df_res['uniqueid'] * 100, 2)
df_res['111_percent'] = round(df_res['111'] / df_res['uniqueid'] * 100, 2)
df_res['261_111'] = df_res['261_percent'] + df_res['111_percent']
df_res['billsec_mean'] = round(df_res['billsec'] / df_res['uniqueid'], 2)
df_res['server_number'] = df_res['server_number'].astype(int)
df_res.sort_values('server_number').to_csv('/root/airflow/dags/liza_test/Files/02_18.csv', index = False)

In [55]:
date_i ='2025-02_19'
df_19 = get_data_permonth(cloud, date_i)
df_19

mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.183/suitecrm?charset=utf8

,uniqueid,date(call_date),last_step,billsec,real_billsec,server_number
0,1739971478.86902.56,2025-02-19,102,15,17.0,56
1,1739938398.1931.30,2025-02-19,111,2,4.0,30
2,1739968058.65185.33,2025-02-19,111,3,4.0,33
3,1739968032.65317.26,2025-02-19,322,28,28.0,26
4,1739971480.86907.56,2025-02-19,261,1,2.0,56
...,...,...,...,...,...,...
2191951,1739971461.86855.56,2025-02-19,102,20,20.0,56
2191952,1739971473.86886.56,2025-02-19,111,4,6.0,56
2191953,1739971474.86890.56,2025-02-19,261,5,6.0,56
2191954,1739968021.65293.26,2025-02-19,111,26,28.0,26
2191955,1739968024.65117.33,2025-02-19,2,8,9.0,33

In [56]:
df_19['last_step'] = df_19['last_step'].astype(str)
df_19['billsec'] = df_19['billsec'].fillna('0').astype(int)
df_19['real_billsec'] = df_19['real_billsec'].apply(lambda x: 0 if x == '' else x).astype(int)


df_19['live_call'] = df_19['last_step'].apply(lambda x: 1 if x not in ("","0","1","111","261","262","361","362","371","372") else 0)

df_19['261'] = df_19['last_step'].apply(lambda x: 1 if x == "261" else 0)
df_19['111'] = df_19['last_step'].apply(lambda x: 1 if x == "111" else 0)


df_res = df_19.fillna('0').groupby('server_number').agg({ 'uniqueid' : 'count', 

                                            'live_call' : 'sum',
                                           '261' :'sum',
                                             '111' : 'sum',
                                            'billsec':'sum',
                                            'real_billsec' : 'sum'}).reset_index()

df_res['261_percent'] = round(df_res['261'] / df_res['uniqueid'] * 100, 2)
df_res['111_percent'] = round(df_res['111'] / df_res['uniqueid'] * 100, 2)
df_res['261_111'] = df_res['261_percent'] + df_res['111_percent']
df_res['billsec_mean'] = round(df_res['billsec'] / df_res['uniqueid'], 2)
df_res['server_number'] = df_res['server_number'].astype(int)
df_res.sort_values('server_number').to_csv('/root/airflow/dags/liza_test/Files/02_19.csv', index = False)

In [57]:
date_i ='2025-02_20'
df_20 = get_data_permonth(cloud, date_i)
df_20

mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.183/suitecrm?charset=utf8

,uniqueid,date(call_date),last_step,billsec,real_billsec,server_number
0,1740038910.25416.50,2025-02-20,261,1,2.0,50
1,1740035899.14014.33,2025-02-20,9,6,8.0,33
2,1740038916.25438.50,2025-02-20,111,3,4.0,50
3,1740033302.8230.35,2025-02-20,261,0,1.0,35
4,1740065947.80112.50,2025-02-20,111,7,9.0,50
...,...,...,...,...,...,...
1746103,1740038902.25383.50,2025-02-20,10,21,22.0,50
1746104,1740041824.29319.50,2025-02-20,111,3,5.0,50
1746105,1740035891.13997.33,2025-02-20,9,7,8.0,33
1746106,1740038902.25389.50,2025-02-20,261,2,4.0,50
1746107,1740065940.80092.50,2025-02-20,111,3,4.0,50

In [58]:
df_20['last_step'] = df_20['last_step'].astype(str)
df_20['billsec'] = df_20['billsec'].fillna('0').astype(int)
df_20['real_billsec'] = df_20['real_billsec'].apply(lambda x: 0 if x == '' else x).astype(int)


df_20['live_call'] = df_20['last_step'].apply(lambda x: 1 if x not in ("","0","1","111","261","262","361","362","371","372") else 0)

df_20['261'] = df_20['last_step'].apply(lambda x: 1 if x == "261" else 0)
df_20['111'] = df_20['last_step'].apply(lambda x: 1 if x == "111" else 0)


df_res = df_20.fillna('0').groupby('server_number').agg({ 'uniqueid' : 'count', 

                                            'live_call' : 'sum',
                                           '261' :'sum',
                                             '111' : 'sum',
                                            'billsec':'sum',
                                            'real_billsec' : 'sum'}).reset_index()

df_res['261_percent'] = round(df_res['261'] / df_res['uniqueid'] * 100, 2)
df_res['111_percent'] = round(df_res['111'] / df_res['uniqueid'] * 100, 2)
df_res['261_111'] = df_res['261_percent'] + df_res['111_percent']
df_res['billsec_mean'] = round(df_res['billsec'] / df_res['uniqueid'], 2)
df_res['server_number'] = df_res['server_number'].astype(int)
df_res.sort_values('server_number').to_csv('/root/airflow/dags/liza_test/Files/02_20.csv', index = False)

In [59]:
date_i ='2025-02_21'
df_21 = get_data_permonth(cloud, date_i)
df_21

mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.183/suitecrm?charset=utf8

,uniqueid,date(call_date),last_step,billsec,real_billsec,server_number
0,1740131219.37195.32,2025-02-21,111,3,5.0,32
1,1740131227.37217.32,2025-02-21,111,2,3.0,32
2,1740131238.37241.32,2025-02-21,2,16,17.0,32
3,1740131240.37247.32,2025-02-21,111,29,31.0,32
4,1740131210.37168.32,2025-02-21,499,28,,32
...,...,...,...,...,...,...
2212166,1740131685.44873.57,2025-02-21,2,8,9.0,57
2212167,1740131687.44877.57,2025-02-21,111,2,4.0,57
2212168,1740131698.44918.57,2025-02-21,111,2,4.0,57
2212169,1740131218.37193.32,2025-02-21,102,52,54.0,32
2212170,1740131261.37292.32,2025-02-21,111,3,5.0,32

In [60]:
df_21['last_step'] = df_21['last_step'].astype(str)
df_21['billsec'] = df_21['billsec'].fillna('0').astype(int)
df_21['real_billsec'] = df_21['real_billsec'].apply(lambda x: 0 if x == '' else x).astype(int)


df_21['live_call'] = df_21['last_step'].apply(lambda x: 1 if x not in ("","0","1","111","261","262","361","362","371","372") else 0)

df_21['261'] = df_21['last_step'].apply(lambda x: 1 if x == "261" else 0)
df_21['111'] = df_21['last_step'].apply(lambda x: 1 if x == "111" else 0)


df_res = df_21.fillna('0').groupby('server_number').agg({ 'uniqueid' : 'count', 

                                            'live_call' : 'sum',
                                           '261' :'sum',
                                             '111' : 'sum',
                                            'billsec':'sum',
                                            'real_billsec' : 'sum'}).reset_index()

df_res['261_percent'] = round(df_res['261'] / df_res['uniqueid'] * 100, 2)
df_res['111_percent'] = round(df_res['111'] / df_res['uniqueid'] * 100, 2)
df_res['261_111'] = df_res['261_percent'] + df_res['111_percent']
df_res['billsec_mean'] = round(df_res['billsec'] / df_res['uniqueid'], 2)
df_res['server_number'] = df_res['server_number'].astype(int)
df_res.sort_values('server_number').to_csv('/root/airflow/dags/liza_test/Files/02_21.csv', index = False)

In [61]:
date_i ='2025-02_28'
df_28 = get_data_permonth(cloud, date_i)

df_28['last_step'] = df_28['last_step'].astype(str)

df_28['billsec'] = df_28['billsec'].fillna('0').astype(int)
df_28['real_billsec'] = df_28['real_billsec'].apply(lambda x: 0 if x == '' else x).astype(int)


df_28['live_call'] = df_28['last_step'].apply(lambda x: 1 if x not in ("","0","1","111","261","262","361","362","371","372") else 0)

df_28['261'] = df_28['last_step'].apply(lambda x: 1 if x == "261" else 0)
df_28['111'] = df_28['last_step'].apply(lambda x: 1 if x == "111" else 0)


df_res = df_28.fillna('0').groupby('server_number').agg({ 'uniqueid' : 'count', 

                                            'live_call' : 'sum',
                                           '261' :'sum',
                                             '111' : 'sum',
                                            'billsec':'sum',
                                            'real_billsec' : 'sum'}).reset_index()

df_res['261_percent'] = round(df_res['261'] / df_res['uniqueid'] * 100, 2)
df_res['111_percent'] = round(df_res['111'] / df_res['uniqueid'] * 100, 2)
df_res['261_111'] = df_res['261_percent'] + df_res['111_percent']
df_res['billsec_mean'] = round(df_res['billsec'] / df_res['uniqueid'], 2)
df_res['server_number'] = df_res['server_number'].astype(int)
df_res.sort_values('server_number').to_csv('/root/airflow/dags/liza_test/Files/02_28.csv', index = False)

mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.183/suitecrm?charset=utf8