In [1]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import requests
import pandas as pd
def get_data_request(sql_download, cloud):

    # Создание строки подключения для SQLAlchemy
    connection_string = f'mysql+pymysql://{cloud[0]}:{cloud[1]}@{cloud[2]}/{cloud[3]}?charset=utf8'
    print(connection_string)
    engine = create_engine(connection_string)
    

    # Использование контекстного менеджера для безопасного открытия и закрытия соединения
    with engine.connect() as connection:
        df = pd.read_sql_query(text(sql_download), connection).fillna('')
        
        return df

In [2]:
import pandas as pd

ptv_nasha = ['^5^', '^6^', '^3^', '^10^', '^11^', '^19^', ]
ptv_ne_nasha = ['^5_15^', '^5_16^', '^5_17^', '5_18^', '^5_19^', '^5_20^', '^5_21^',
                '^6_15^', '^6_16^', '^6_17^', '6_18^', '^6_19^', '^6_20^', '^6_21^',
                '^3_15^', '^3_16^', '^3_17^', '3_18^', '^3_19^', '^3_20^', '^3_21^',
                '^10_15^', '^10_16^', '^10_17^', '10_18^', '^10_19^', '^10_20^', '^10_21^',
                '^11_15^', '^11_16^', '^11_17^', '11_18^', '^11_19^', '^11_20^', '^11_21^',
                '^19_15^', '^19_16^', '^19_17^', '19_18^', '^19_19^', '^19_20^', '^19_21^']

def region(row):
    if any(w in row['ptv_c'] for w in ptv_nasha):
        return 'ptv_1'
    elif any(w in row['ptv_c'] for w in ptv_ne_nasha):
        return 'ptv_2'
    else:
        return row['region_c']
def date(row):
    if row['datecall'] == 0:
        return row['date_entered']
    return row['datecall']
def queue(row):
    if row['queue'] == 0:
        return row['last_queue_c']
    else:
        return row['queue']
def destination_queue(row):
    if row['destination_queue'] == 0:
        return row['last_queue_c']
    else:
        return row['destination_queue']
def meet_proect(row):
    if row['proect'] in {'RTK', 'RTK LIDS','TELE2'}:
        return 'RTK'
    elif row['proect'] in {'TTK', 'TTK LIDS'}:
        return 'TTK'
    elif row['proect'] in {'DOMRU', 'DOMRU LIDS', 'DOMRU Dop'}:
        return 'DOMRU'
    elif row['proect'] in {'MTS', 'MTS LIDS'}:
        return 'MTS'
    elif row['proect'] in {'GULFSTREAM','GULFSTREAM LIDS'}:
        return 'GULFSTREAM'
    elif row['proect'] in {'NBN', 'NBN LIDS'}:
        return 'NBN'
    elif row['proect'] in {'BEELINE', 'BEELINE LIDS'}:
        return 'BEELINE'
    else:
        return 'DR'
def check_team_project(row):
    if row['team_project'] in {'RTK', 'RTK LIDS'}:
        return 'RTK'
    elif row['team_project'] in {'TELE2','TELE2 LIDS'}:
        return 'TELE2'
    elif row['team_project'] in {'TTK', 'TTK LIDS'}:
        return 'TTK'
    elif row['team_project'] in {'DOMRU', 'DOMRU LIDS', 'DOMRU Dop'}:
        return 'DOMRU'
    elif row['team_project'] in {'MTS', 'MTS LIDS'}:
        return 'MTS'
    elif row['proect'] in {'GULFSTREAM','GULFSTREAM LIDS'}:
        return 'GULFSTREAM'
    elif row['team_project'] in {'NBN', 'NBN LIDS'}:
        return 'NBN'
    elif row['team_project'] in {'BEELINE', 'BEELINE LIDS'}:
        return 'BEELINE'
    else:
        return 'DR'
# def meet_proect_final(row):
#     if row['team_project'] == '0':
#         return row['proect']
#     elif row['check_team_project'] == row['module']:
#         return row['team_project']
#     elif row['check_team_project'] == row['team_project']:
#         return row['team_project']
#     else:
#         return row['proect']

def meet_proect_final(row):
    if row['team_project'] == '0':
        return row['proect']
    elif row['check_team_project'] == row['module']:
        return row['team_project']
    elif row['check_team_project'] != row['module']:
        return row['module']
    elif row['check_team_project'] == row['team_project']:
        return row['team_project']
    else:
        return row['proect']

In [3]:
import pandas as pd
import glob2 as glob
import os


def team_project():
    path = '/root/airflow/dags/project_defenition/projects/teams'
    files = glob.glob(path + "/*.csv")
    project_team = pd.DataFrame()
    n = 0
    num_of_files = len(os.listdir(path))
    print(f'Всего файлов {num_of_files}')

    for i in files:
        n += 1
        df = pd.read_csv(i)
        # project_team = project_team.append(df)
        project_team = pd.concat([project_team,df])
    del df

    project_team['team'] = project_team['team'].fillna(0).astype('int').astype('str')
    project_team = project_team.rename(columns={'project': 'team_project'})
    project_team['date'] = project_team['date'].astype('str')
    project_team['team'] = project_team['team'].astype('str')

    project_team['RN'] = project_team.groupby(['team', 'date']).cumcount() + 1
    project_team = project_team[project_team['RN'] == 1][['team', 'team_project', 'date']]

    return project_team


def queue_project():
    path = '/root/airflow/dags/project_defenition/projects/queues'
    files = glob.glob(path + "/*.csv")
    project_queue = pd.DataFrame()
    n = 0
    num_of_files = len(os.listdir(path))

    print(f'Всего файлов {num_of_files}')

    for i in files:
        n += 1
        df = pd.read_csv(i)
        # project_queue = project_queue.append(df)
        project_queue = pd.concat([project_queue,df])
    del df

    project_queue = project_queue.rename(columns={'Проект (набирающая очередь)': 'destination_project'})
    project_queue['destination_project'] = project_queue['destination_project'].fillna('DR')
    project_queue['Очередь'] = project_queue['Очередь'].fillna(0).astype('int').astype('str')
    project_queue['date'] = project_queue['date'].astype('str')

    project_queue['RN'] = project_queue.groupby(['Очередь', 'date']).cumcount() + 1
    project_queue = project_queue[project_queue['RN'] == 1][['Очередь', 'destination_project', 'date']]

    return project_queue

def project(row):
    if row['team_project'] == '0' and row['destination_project'] == '0':
        return row['proect']
    elif row['team_project'] == 'DR' and row['destination_project'] == '0':
        return row['proect']
    elif row['team_project'] == '0':
        return row['destination_project']
    elif row['team_project'] == 'DR':
        return row['destination_project']
    else:
        return row['team_project']

def organization(row):
    if row['team'] in ['4','12','50','13']:
        return 'КЦ'
        # return 'Лиды'
    elif row['team'] in ['8','123']:
        return 'КЦ'
    elif ' RO' in row['project']:
        return 'Just Robots'
    elif 'LIDS' in row['project']:
        return 'Лиды'
    elif 'Job' in row['project']:
        return 'Just Job'
    # elif row['queue'] in [9251,9251.0,'9251','9251.0']:
    #     return 'Just Job'
    else:
        return 'КЦ'

def step_perevod():
    path = '/root/airflow/dags/project_defenition/projects/steps'
    files = glob.glob(path + "/*.csv")
    steps = pd.DataFrame()
    n = 0
    num_of_files = len(os.listdir(path))
    print(f'Всего файлов {num_of_files}')

    for i in files:
        n += 1
        df = pd.read_csv(i)
        # steps = steps.append(df)
        steps = pd.concat([steps,df])
    del df

    steps['step'] = steps['step'].fillna(0).astype('int').astype('str')
    steps['ochered'] = steps['ochered'].fillna(0).astype('int').astype('str')
    steps['type_steps'] = steps['type_steps'].fillna(1).astype('int').astype('str')
    # steps.loc[(steps['step'].isin(['94', '91', '93'])) & (steps['ochered'] == '9078'), 'type_steps'] = '1'
    steps['date'] = pd.to_datetime(steps['date'])
    # steps['step'] = steps['step'].astype('int')

    steps['RN'] = steps.groupby(['step', 'ochered', 'date','type_steps']).cumcount() + 1
    steps = steps[steps['RN'] == 1][['step', 'ochered', 'date','type_steps']]
    steps = steps.drop_duplicates()

    return steps

def perevod(row):
    if row['step'] == '0':
        return row['perevod']
    elif row['type_steps'] == '1':
        return 1
    else:
        return 0

def lead(row):
    if row['step'] == '0':
        return row['lead']
    elif row['type_steps'] == '0':
        return 1
    else:
        return 0

In [4]:
def connect_db(file):
    dest = None
    print(file)
    if file == 'Maria_db':
        dest = '/root/airflow/dags/not_share/Maria_db.csv'
    elif file == 'cloud_117':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_117.csv'
    elif file == 'cloud_128':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_128.csv'
    elif file == 'cloud_182':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_182.csv'
    elif file == 'cloud_183':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_183.csv'
    elif file == '72':
        dest = '/root/airflow/dags/not_share/Second_cloud_72.csv'
    elif file == 'Combat':
        dest = '/root/airflow/dags/not_share/Combat_server.csv'
    elif file == 'Click':
        dest = '/root/airflow/dags/not_share/ClickHouse.csv'
    # elif file == 'Click2':
    #     dest = '/root/airflow/dags/not_share/ClickHouse2.csv'
    elif file == 'Server_MySQL':
        dest = '/root/airflow/dags/not_share/Server_files_MySQL.csv'
    elif file == 'DBS':
        dest = '/root/airflow/dags/not_share/DBS.csv'
    else:
        print('cloud_183')
        print('Неизвестный сервер.')

    print(dest)

    if dest:
        with open(dest) as file:
            for now in file:
                now = now.strip().split('=')
                first, second = now[0].strip(), now[1].strip()
                if first == 'host':
                    host = second
                elif first == 'user':
                    user = second
                elif first == 'password':
                    password = second
        return host, user, password

In [5]:

import os
from time import sleep

from smb.SMBConnection import SMBConnection
from smb.SMBConnection import SMBConnection, OperationFailure

def save_file_to_dbs(path_from, path_to):
    
    host, user, password = connect_db('DBS')
    conn = SMBConnection(username=user, password=password, my_name="Alexander Brezhnev", remote_name="samba", use_ntlm_v2=True)

    sleep(5)

    if conn.connect(host, 445):
        print('connection ok!')
        with open(path_from, 'rb') as my_file:
            print('file_to_save', my_file) 
            conn.storeFile('dbs', path_to, my_file)
            print('save done')
            
    conn.close()

In [6]:
import pandas as pd

import datetime
from time import sleep


# host72 = "192.168.1.182"
# host128 = "192.168.1.183"

# host = host128
cloud = ['base_dep_slave', 'IyHBh9mDBdpg', '192.168.1.183', 'suitecrm']


n = 1

for i in range(0,1):
    now = datetime.datetime.now() - datetime.timedelta(days=n)
    # to_csv = r'C:\Users\Supervisor031\Desktop\Трафик_{}.csv'
    to_csv = 'scripts fsp\Current Files\ФСП\Трафик\Трафик_{}.csv'
    to_save = to_csv.format(now.strftime("%m_%d"))

    team_project = team_project()
    queue_project = queue_project()
    step_perevod = step_perevod()
    team_project['date'] = team_project['date'].astype('str')
    team_project['team'] = team_project['team'].astype('str')
    queue_project['date'] = queue_project['date'].astype('str')
    queue_project['Очередь'] = queue_project['Очередь'].astype('str')
    step_perevod['step'] = step_perevod['step'].astype('str')
    step_perevod['ochered'] = step_perevod['ochered'].astype('str')
    step_perevod['type_steps'] = step_perevod['type_steps'].astype('int').astype('str')
    step_perevod['date'] = step_perevod['date'].astype('str')
    step_perevod = step_perevod.rename(columns={'ochered': 'queue', 'date': 'call_date'})

    print('Коннект')

    # Con = MySQLdb.Connect(host=host, user="base_dep_slave", passwd="IyHBh9mDBdpg", db="suitecrm",
    #                       charset='utf8')

    sql = f'''with ocheredi as (select *
                  from (select queue,
                               project,
                               date,
                               (row_number() over (partition by queue order by date desc)) as rw
                        from suitecrm.queue_project
                        where date >= '2022-02-01') as tb1
                  where rw = 1
                  order by 3),
     department as (select '12' team, 'Входящая линия' department
                    union all
                    select '50' team, 'Диспетчера Алексеевой' department
                    union all
                    select '28' team, 'Универсалы' department
                    union all
                    select '4' team, 'Диспетчера Кротченко' department
                    union all
                    select '42' team, 'Авито' department
                    union all
                    select '16' team, 'Банкроты' department),
     teams as (select *,
                      case
                          when left(first_name, instr(first_name, ' ') - 1) > 0 and
                               left(first_name, instr(first_name, ' ') - 1) < 10000
                              then left(first_name, instr(first_name, ' ') - 1)
                          when left(first_name, 2) = '�_'
                              then substring(first_name, 3, (instr(first_name, ' ') - 3))
                          when left(first_name, 1) = '�'
                              then substring(first_name, 2, (instr(first_name, ' ') - 1))
                          when first_name > 0 then first_name
                          else '' end team
               from (
                        SELECT id,
                               concat(first_name, ' ', last_name) fio,
                               case
                                   when substring_index(substring_index(first_name, ' ', 3), ' ', -1) REGEXP '^[0-9]+$'
                                       then substring_index(substring_index(first_name, ' ', 3), ' ', -1)
                                   when substring_index(substring_index(first_name, ' ', 4), ' ', -1) REGEXP '^[0-9]+$'
                                       then substring_index(substring_index(first_name, ' ', 4), ' ', -1)
                                   else first_name
                                   end                            first_name
                        FROM suitecrm.users) user),
     config as (select index_number                                             step,
                       REGEXP_REPLACE(queue, '(_NEW\\^|\\^|m)', '')            dialogs,
                       case
                           when action_type > 0 and check_exit = 1 then '0'
                           when action_type > 0 and check_exit = 0 then '1' end type_steps
                from suitecrm.jc_robconfig_step step
                         left join suitecrm.jc_robconfig_step_cstm cstm on step.id = cstm.id_c
                         left join suitecrm.jc_robconfig_dialog_jc_robconfig_step_c sv
                                   on step.id = sv.jc_robconfig_dialog_jc_robconfig_stepjc_robconfig_step_idb
                         left join suitecrm.jc_robconfig_dialog D
                                   on D.id = sv.jc_robconfig_dialog_jc_robconfig_stepjc_robconfig_dialog_ida
                where action_type > 0),
     tabeue as (select step,
                       dialogs,
                       type_steps,
                       SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 1), ',', -1) as queue_1,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 2), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 1), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 2), ',', -1)
                           end                                                    as queue_2,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 3), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 2), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 3), ',', -1)
                           end                                                    as queue_3,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 4), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 3), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 4), ',', -1)
                           end                                                    as queue_4,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 5), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 4), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 5), ',', -1)
                           end                                                    as queue_5,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 6), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 5), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 6), ',', -1)
                           end                                                    as queue_6,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 7), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 6), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 7), ',', -1)
                           end                                                    as queue_7,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 8), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 7), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 8), ',', -1)
                           end                                                    as queue_8,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 9), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 8), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 9), ',', -1)
                           end                                                    as queue_9,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 10), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 9), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 10), ',', -1)
                           end                                                    as queue_10,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 11), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 10), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 11), ',', -1)
                           end                                                    as queue_11,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 12), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 11), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 12), ',', -1)
                           end                                                    as queue_12,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 13), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 12), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 13), ',', -1)
                           end                                                    as queue_13,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 14), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 13), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 14), ',', -1)
                           end                                                    as queue_14,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 15), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 14), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 15), ',', -1)
                           end                                                    as queue_15,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 16), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 15), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 16), ',', -1)
                           end                                                    as queue_16,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 17), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 16), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 17), ',', -1)
                           end                                                    as queue_17,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 18), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 17), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 18), ',', -1)
                           end                                                    as queue_18,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 19), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 18), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 19), ',', -1)
                           end                                                    as queue_19,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 20), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 19), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 20), ',', -1)
                           end                                                    as queue_20,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 21), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 20), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 21), ',', -1)
                           end                                                    as queue_21,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 22), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 21), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 22), ',', -1)
                           end                                                    as queue_22,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 23), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 22), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 23), ',', -1)
                           end                                                    as queue_23,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 24), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 23), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 24), ',', -1)
                           end                                                    as queue_24,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 25), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 24), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 25), ',', -1)
                           end                                                    as queue_25,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 26), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 25), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 26), ',', -1)
                           end                                                    as queue_26,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 27), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 26), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 27), ',', -1)
                           end                                                    as queue_27,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 28), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 27), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 28), ',', -1)
                           end                                                    as queue_28,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 29), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 28), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 29), ',', -1)
                           end                                                    as queue_29,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 30), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 29), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 30), ',', -1)
                           end                                                    as queue_30,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 31), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 20), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 31), ',', -1)
                           end                                                    as queue_31,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 32), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 31), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 32), ',', -1)
                           end                                                    as queue_32,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 33), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 32), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 33), ',', -1)
                           end                                                    as queue_33,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 34), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 33), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 34), ',', -1)
                           end                                                    as queue_34,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 35), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 34), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 35), ',', -1)
                           end                                                    as queue_35,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 36), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 35), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 36), ',', -1)
                           end                                                    as queue_36,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 37), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 36), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 37), ',', -1)
                           end                                                    as queue_37,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 38), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 37), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 38), ',', -1)
                           end                                                    as queue_38,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 39), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 38), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 39), ',', -1)
                           end                                                    as queue_39,
                       case
                           when
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 40), ',', -1) =
                                   SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 39), ',', -1)
                               then null
                           else SUBSTRING_INDEX(SUBSTRING_INDEX(dialogs, ',', 40), ',', -1)
                           end                                                    as queue_40
                from config
                where dialogs is not null
                  and dialogs != ''),
     steps as (select *
               from (
                        select step,
                               queue_1 as ochered,
                               type_steps
                        from tabeue
                        union all
                        select step, queue_2, type_steps
                        from tabeue
                        union all
                        select step, queue_3, type_steps
                        from tabeue
                        union all
                        select step, queue_4, type_steps
                        from tabeue
                        union all
                        select step, queue_5, type_steps
                        from tabeue
                        union all
                        select step, queue_6, type_steps
                        from tabeue
                        union all
                        select step, queue_7, type_steps
                        from tabeue
                        union all
                        select step, queue_8, type_steps
                        from tabeue
                        union all
                        select step, queue_9, type_steps
                        from tabeue
                        union all
                        select step, queue_10, type_steps
                        from tabeue
                        union all
                        select step, queue_11, type_steps
                        from tabeue
                        union all
                        select step, queue_12, type_steps
                        from tabeue
                        union all
                        select step, queue_13, type_steps
                        from tabeue
                        union all
                        select step, queue_14, type_steps
                        from tabeue
                        union all
                        select step, queue_15, type_steps
                        from tabeue
                        union all
                        select step, queue_16, type_steps
                        from tabeue
                        union all
                        select step, queue_17, type_steps
                        from tabeue
                        union all
                        select step, queue_18, type_steps
                        from tabeue
                        union all
                        select step, queue_19, type_steps
                        from tabeue
                        union all
                        select step, queue_20, type_steps
                        from tabeue
                        union all
                        select step, queue_21, type_steps
                        from tabeue
                        union all
                        select step, queue_22, type_steps
                        from tabeue
                        union all
                        select step, queue_23, type_steps
                        from tabeue
                        union all
                        select step, queue_24, type_steps
                        from tabeue
                        union all
                        select step, queue_25, type_steps
                        from tabeue
                        union all
                        select step, queue_26, type_steps
                        from tabeue
                        union all
                        select step, queue_27, type_steps
                        from tabeue
                        union all
                        select step, queue_28, type_steps
                        from tabeue
                        union all
                        select step, queue_29, type_steps
                        from tabeue
                        union all
                        select step, queue_30, type_steps
                        from tabeue
                        union all
                        select step, queue_31, type_steps
                        from tabeue
                        union all
                        select step, queue_32, type_steps
                        from tabeue
                        union all
                        select step, queue_33, type_steps
                        from tabeue
                        union all
                        select step, queue_34, type_steps
                        from tabeue
                        union all
                        select step, queue_35, type_steps
                        from tabeue
                        union all
                        select step, queue_36, type_steps
                        from tabeue
                        union all
                        select step, queue_37, type_steps
                        from tabeue
                        union all
                        select step, queue_38, type_steps
                        from tabeue
                        union all
                        select step, queue_39, type_steps
                        from tabeue
                        union all
                        select step, queue_40, type_steps
                        from tabeue
                    ) as t2
               where ochered is not null),
     config2 as (select substring(turn, 11, 4) ochered, steps_transferred step, '1' type_steps
                 from suitecrm.jc_robot_reportconfig
                 where deleted = 0
                   and substring(turn, 11, 4) not in (select ochered from steps)
                   and steps_transferred != ''),
     tabeue2 as (select step,
                        ochered,
                        type_steps,
                        SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 1), ',', -1) as step_1,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 2), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 1), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 2), ',', -1)
                            end                                                 as step_2,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 3), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 2), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 3), ',', -1)
                            end                                                 as step_3,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 4), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 3), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 4), ',', -1)
                            end                                                 as step_4,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 5), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 4), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 5), ',', -1)
                            end                                                 as step_5,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 6), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 5), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 6), ',', -1)
                            end                                                 as step_6,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 7), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 6), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 7), ',', -1)
                            end                                                 as step_7,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 8), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 7), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 8), ',', -1)
                            end                                                 as step_8,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 9), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 8), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 9), ',', -1)
                            end                                                 as step_9,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 10), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 9), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 10), ',', -1)
                            end                                                 as step_10,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 11), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 10), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 11), ',', -1)
                            end                                                 as step_11,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 12), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 11), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 12), ',', -1)
                            end                                                 as step_12,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 13), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 12), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 13), ',', -1)
                            end                                                 as step_13,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 14), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 13), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 14), ',', -1)
                            end                                                 as step_14,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 15), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 14), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 15), ',', -1)
                            end                                                 as step_15,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 16), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 15), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 16), ',', -1)
                            end                                                 as step_16,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 17), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 16), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 17), ',', -1)
                            end                                                 as step_17,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 18), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 17), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 18), ',', -1)
                            end                                                 as step_18,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 19), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 18), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 19), ',', -1)
                            end                                                 as step_19,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 20), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 19), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 20), ',', -1)
                            end                                                 as step_20,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 21), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 20), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 21), ',', -1)
                            end                                                 as step_21,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 22), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 21), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 22), ',', -1)
                            end                                                 as step_22,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 23), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 22), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 23), ',', -1)
                            end                                                 as step_23,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 24), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 23), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 24), ',', -1)
                            end                                                 as step_24,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 25), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 24), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 25), ',', -1)
                            end                                                 as step_25,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 26), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 25), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 26), ',', -1)
                            end                                                 as step_26,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 27), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 26), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 27), ',', -1)
                            end                                                 as step_27,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 28), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 27), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 28), ',', -1)
                            end                                                 as step_28,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 29), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 28), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 29), ',', -1)
                            end                                                 as step_29,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 30), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 29), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 30), ',', -1)
                            end                                                 as step_30,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 31), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 20), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 31), ',', -1)
                            end                                                 as step_31,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 32), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 31), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 32), ',', -1)
                            end                                                 as step_32,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 33), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 32), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 33), ',', -1)
                            end                                                 as step_33,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 34), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 33), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 34), ',', -1)
                            end                                                 as step_34,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 35), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 34), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 35), ',', -1)
                            end                                                 as step_35,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 36), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 35), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 36), ',', -1)
                            end                                                 as step_36,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 37), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 36), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 37), ',', -1)
                            end                                                 as step_37,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 38), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 37), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 38), ',', -1)
                            end                                                 as step_38,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 39), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 38), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 39), ',', -1)
                            end                                                 as step_39,
                        case
                            when
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 40), ',', -1) =
                                    SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 39), ',', -1)
                                then null
                            else SUBSTRING_INDEX(SUBSTRING_INDEX(step, ',', 40), ',', -1)
                            end                                                 as step_40
                 from config2),
     steps2 as (select *
                from (
                         select step,
                                queue_1 as ochered,
                                type_steps
                         from tabeue
                         union all
                         select step, queue_2, type_steps
                         from tabeue
                         union all
                         select step, queue_3, type_steps
                         from tabeue
                         union all
                         select step, queue_4, type_steps
                         from tabeue
                         union all
                         select step, queue_5, type_steps
                         from tabeue
                         union all
                         select step, queue_6, type_steps
                         from tabeue
                         union all
                         select step, queue_7, type_steps
                         from tabeue
                         union all
                         select step, queue_8, type_steps
                         from tabeue
                         union all
                         select step, queue_9, type_steps
                         from tabeue
                         union all
                         select step, queue_10, type_steps
                         from tabeue
                         union all
                         select step, queue_11, type_steps
                         from tabeue
                         union all
                         select step, queue_12, type_steps
                         from tabeue
                         union all
                         select step, queue_13, type_steps
                         from tabeue
                         union all
                         select step, queue_14, type_steps
                         from tabeue
                         union all
                         select step, queue_15, type_steps
                         from tabeue
                         union all
                         select step, queue_16, type_steps
                         from tabeue
                         union all
                         select step, queue_17, type_steps
                         from tabeue
                         union all
                         select step, queue_18, type_steps
                         from tabeue
                         union all
                         select step, queue_19, type_steps
                         from tabeue
                         union all
                         select step, queue_20, type_steps
                         from tabeue
                         union all
                         select step, queue_21, type_steps
                         from tabeue
                         union all
                         select step, queue_22, type_steps
                         from tabeue
                         union all
                         select step, queue_23, type_steps
                         from tabeue
                         union all
                         select step, queue_24, type_steps
                         from tabeue
                         union all
                         select step, queue_25, type_steps
                         from tabeue
                         union all
                         select step, queue_26, type_steps
                         from tabeue
                         union all
                         select step, queue_27, type_steps
                         from tabeue
                         union all
                         select step, queue_28, type_steps
                         from tabeue
                         union all
                         select step, queue_29, type_steps
                         from tabeue
                         union all
                         select step, queue_30, type_steps
                         from tabeue
                         union all
                         select step, queue_31, type_steps
                         from tabeue
                         union all
                         select step, queue_32, type_steps
                         from tabeue
                         union all
                         select step, queue_33, type_steps
                         from tabeue
                         union all
                         select step, queue_34, type_steps
                         from tabeue
                         union all
                         select step, queue_35, type_steps
                         from tabeue
                         union all
                         select step, queue_36, type_steps
                         from tabeue
                         union all
                         select step, queue_37, type_steps
                         from tabeue
                         union all
                         select step, queue_38, type_steps
                         from tabeue
                         union all
                         select step, queue_39, type_steps
                         from tabeue
                         union all
                         select step, queue_40, type_steps
                         from tabeue
                         union all
                         select step_1, ochered, type_steps
                         from tabeue2
                         union all
                         select step_2
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_3
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_4
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_5
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_6
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_7
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_8
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_9
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_10
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_11
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_12
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_13
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_14
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_15
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_16
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_17
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_18
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_19
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_20
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_21
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_22
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_23
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_24
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_25
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_26
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_27
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_28
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_29
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_30
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_31
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_32
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_33
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_34
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_35
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_36
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_37
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_38
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_39
                              , ochered
                              , type_steps
                         from tabeue2
                         union all
                         select step_40
                              , ochered
                              , type_steps
                         from tabeue2
                     ) as t2
                where ochered is not null
                  and step is not null),
     JC as (select distinct call_date,
                            REGEXP_SUBSTR(jc_robot_log.dialog, '[0-9]+') queue,
                            REGEXP_SUBSTR(jc_robot_log.dialog, '[0-9]+') Last_queue,
                            network_provider_c,
                            city_c,
                            jc_robot_log.region_c                 region,
                            trunk_id,
                            jc_robot_log.ptv_c,
                            jc_robot_log.base_source_c,
                            jc_robot_log.uniqueid                 id,
                            billsec,
                            jc_robot_log.assigned_user_id,
                            real_billsec,
                            jc_robot_log.uniqueid,
                            jc_robot_log.phone,
                            marker,
                            last_step,
                            route,
                            directory
            FROM suitecrm_robot.jc_robot_log
            WHERE date(call_date) = date(now()) - interval {n} day
              # and (inbound_call = 0 or inbound_call = '')
              and jc_robot_log.deleted = 0
            union all
            select distinct call_date,
                            robot_id         queue,
                            robot_id         Last_queue,
                            network_provider network_provider_c,
                            city             city_c,
                            quality region,
                            trunk_id,
                            ptv              ptv_c,
                            base_source      base_source_c,
                            robot_log_id     id,
                            billsec,
                            operator_id,
                            real_billsec,
                            robot_log_id     uniqueid,
                            phone,
                            marker,
                            last_step,
                            route,
                            voice            directory
            FROM suitecrm_robot.robot_log
                     left join suitecrm_robot.robot_log_addition on robot_log.id = robot_log_addition.robot_log_id
            WHERE date(call_date) = date(now()) - interval {n} day
         # and (inbound_call = 0 or inbound_call = '')
     ),
     tr as (select distinct *
            from suitecrm.transferred_to_other_queue
            union all
            select robot_id dialog, transfer destination_queue, call_date date, robot_log_id uniqueid, phone
            FROM suitecrm_robot.robot_log
                     left join suitecrm_robot.robot_log_addition on robot_log.id = robot_log_addition.robot_log_id
            where transfer is not null
              and transfer != ''),
     R as (SELECT date(call_date)                                                call_date,
                  queue,
                  Last_queue,
                  IF(destination_queue is null, queue,
                     destination_queue)                                          destination_queue,
                  case
                      when jc_robot_log.network_provider_c = '83' then 'МТС'
                      when jc_robot_log.network_provider_c = '80' then 'Билайн'
                      when jc_robot_log.network_provider_c = '82' then 'Мегафон'
                      when jc_robot_log.network_provider_c = '10' then 'Теле2'
                      when jc_robot_log.network_provider_c = '68' then 'Теле2'
                      else 'MVNO'
                      end                                                        network_provider,
                  if(jc_robot_log.city_c is null or jc_robot_log.city_c in ('', 0), concat(cm.town_c, '_t'),
                     jc_robot_log.city_c)                                     as city_c,
                  region,
                  trunk_id,
                  jc_robot_log.ptv_c,
                  jc_robot_log.base_source_c,
                  jc_robot_log.uniqueid                                          id,
                  billsec,
                  jc_robot_log.assigned_user_id,
                  real_billsec,
                  jc_robot_log.uniqueid,
                  jc_robot_log.phone,
                  if(type_steps = 1, 1, 0)                                       perevod,
                  if(type_steps = 0, 1, 0)                                       `lead`,
                  marker,
                  last_step,
                  if(SUBSTRING_INDEX(route, ',', 1) in (262, 362, 372), 1, 0) as inbound_call,
                  directory
           FROM JC jc_robot_log
                    left join suitecrm.contacts c on c.phone_work = jc_robot_log.phone
                    left join suitecrm.contacts_cstm cm on cm.id_c = c.id
                    left join suitecrm.users u on jc_robot_log.assigned_user_id = u.id
                    left join steps2 on (ochered = queue and last_step = step)
                    left join tr on jc_robot_log.uniqueid = tr.uniqueid and tr.phone = jc_robot_log.phone),
     R2 as (SELECT call_date,
                   R.queue,
                   destination_queue,
                   assigned_user_id,
                   network_provider,
                   city_c,
                   region,
                   trunk_id,
                   ptv_c,
                   base_source_c,
                   R.id,
                   if(last_step in ('', '0', '1', '261', '262', '111', '361', '362', '371', '372') and billsec <= 2, 0,
                      billsec)                            as billsec,
                   if(last_step in ('', '0', '1', '261', '262', '111', '361', '362', '371', '372') and
                      real_billsec <= 2, 0, real_billsec) as real_billsec,
                   perevod,
                   lead,
                   team,
                   marker,
                   last_step,
                   #     type_steps,
                   inbound_call,
                   directory,
                   'DR'                                      project
            from R
                     left join ocheredi on (destination_queue = ocheredi.queue)
                     left join teams on R.assigned_user_id = teams.id
     ),
     R3 as (select R2.*,
                   case
                       when base_source_c like '%301%' then '55_m'
                       when base_source_c like '%302%' then '18_m'
                       when base_source_c like '%303%' then '55_f'
                       when base_source_c like '%304%' then '18_f'
                       else '' end department

            from R2
                     left join department on R2.team = department.team)

select call_date,
       queue,
       destination_queue,
       assigned_user_id,
       network_provider,
       city_c,
       trunk_id,
       perevod,
       lead,
       id,
       billsec,
       real_billsec,
       department,
       marker,
       team,
       directory,
       last_step,
       inbound_call,
       case
           when team in (12, 13, 50, 4) and
                project in ('RTK', 'TTK', 'MTS', 'NBN', 'BEELINE', 'DOMRU')
               then concat(project, ' LIDS')
           else project end proect,
       ''                   data_type,
       case
           when (ptv_c like '%^3^%'
               or ptv_c like '%^5^%'
               or ptv_c like '%^6^%'
               or ptv_c like '%^10^%'
               or ptv_c like '%^11^%'
               or ptv_c like '%^19^%'
               or ptv_c like '%^14^%') then 'ptv_1'
           when
               (ptv_c like '%^3_19^%'
                   or ptv_c like '%^5_19^%'
                   or ptv_c like '%^6_19^%'
                   or ptv_c like '%^10_19^%'
                   or ptv_c like '%^11_19^%'
                   or ptv_c like '%^19_19^%'
                   or ptv_c like '%^14_19^%'
                   or ptv_c like '%^3_21^%'
                   or ptv_c like '%^5_21^%'
                   or ptv_c like '%^6_21^%'
                   or ptv_c like '%^10_21^%'
                   or ptv_c like '%^11_21^%'
                   or ptv_c like '%^19_21^%'
                   or ptv_c like '%^14_21^%'
                   or ptv_c like '%^3_18^%'
                   or ptv_c like '%^5_18^%'
                   or ptv_c like '%^6_18^%'
                   or ptv_c like '%^10_18^%'
                   or ptv_c like '%^11_18^%'
                   or ptv_c like '%^19_18^%'
                   or ptv_c like '%^14_18^%'
                   or ptv_c like '%^5_20^%'
                   or ptv_c like '%^3_20^%'
                   or ptv_c like '%^6_20^%'
                   or ptv_c like '%^10_20^%'
                   or ptv_c like '%^11_20^%'
                   or ptv_c like '%^19_20^%'
                   or ptv_c like '%^14_20^%'
                   or ptv_c like '%^3_17^%'
                   or ptv_c like '%^5_17^%'
                   or ptv_c like '%^6_17^%'
                   or ptv_c like '%^10_17^%'
                   or ptv_c like '%^11_17^%'
                   or ptv_c like '%^19_17^%'
                   or ptv_c like '%^14_17^%'
                   or ptv_c like '%^5_16^%'
                   or ptv_c like '%^3_16^%'
                   or ptv_c like '%^6_16^%'
                   or ptv_c like '%^10_16^%'
                   or ptv_c like '%^11_16^%'
                   or ptv_c like '%^19_16^%'
                   or ptv_c like '%^14_16^%'
                   or ptv_c like '%^5_15^%'
                   or ptv_c like '%^3_15^%'
                   or ptv_c like '%^6_15^%'
                   or ptv_c like '%^10_15^%'
                   or ptv_c like '%^11_15^%'
                   or ptv_c like '%^19_15^%'
                   or ptv_c like '%^14_15^%') then 'ptv_2'
           else region end  region_c,
# region as region_c,
       case
           when (ptv_c like '%^3^%'
               or ptv_c like '%^5^%'
               or ptv_c like '%^6^%'
               or ptv_c like '%^10^%'
               or ptv_c like '%^11^%'
               or ptv_c like '%^19^%'
               or ptv_c like '%^14^%') then 'ptv_1'
           when (base_source_c like '%220%' or base_source_c like '%221%' or base_source_c like '%222%' or
                 base_source_c like '%223%' or base_source_c like '%224%') then 'bno'

           when base_source_c like '%63%' and region in (1, 3) then '63_1'
           when base_source_c like '%63%' and region in (2, 4, 5, 6, 7) then concat('63_', region)
           when base_source_c like '%63%' and (region is null or region in ('', ' ')) then '63_0'

           when base_source_c like '%62%' and region in (1, 3) then '62_1'
           when base_source_c like '%62%' and region in (2, 4, 5, 6, 7) then concat('62_', region)
           when base_source_c like '%62%' and (region is null or region in ('', ' ')) then '62_0'

           when base_source_c like '%60%' and region in (1, 3) then '60_1'
           when base_source_c like '%60%' and region in (2, 4, 5, 6, 7) then concat('60_', region)
           when base_source_c like '%60%' and (region is null or region in ('', ' ')) then '60_0'

           when base_source_c like '%61%' and region in (1, 3) then '61_1'
           when base_source_c like '%61%' and region in (2, 4, 5, 6, 7) then concat('61_', region)
           when base_source_c like '%61%' and (region is null or region in ('', ' ')) then '61_0'

           else region end  region_c2
from R3
'''

    print('Отправляем запрос')
    print(now.strftime("%m_%d"))
    trafic = get_data_request(sql, cloud)
    # trafic = pd.read_sql_query(sql, Con)
    if trafic.shape[0] == 0:
        print('pass dataframe')
        pass
    else:
        trafic['call_date'] = pd.to_datetime(trafic['call_date']).astype('str')
        trafic = trafic.merge(step_perevod, how='left', left_on=['last_step', 'queue', 'call_date'],
                              right_on=['step', 'queue', 'call_date'])
        trafic['step'] = trafic['step'].fillna('0')
        trafic['type_steps'] = trafic['type_steps'].fillna('1')
        trafic['perevod'] = trafic.apply(lambda row: perevod(row), axis=1)
        trafic['lead'] = trafic.apply(lambda row: lead(row), axis=1)
        trafic = trafic.drop(columns=['step'])


        # path_team = r'\\192.168.1.157\dbs\scripts fsp\Пользователи.sql'
        team_sql = '''with fio as (select id, concat(first_name, ' ', last_name) fio, team,penalty_c
             from (select id,
                          first_name,
                          last_name,
                          department_c,
                          REGEXP_SUBSTR(first_name, '[0-9]+') team,
--                          case
--                              when substring_index(substring_index(first_name, ' ', 3), ' ', -1) REGEXP '^[0-9]+$'
--                                  then substring_index(substring_index(first_name, ' ', 3), ' ', -1)
--                              when substring_index(substring_index(first_name, ' ', 4), ' ', -1) REGEXP '^[0-9]+$'
--                                  then substring_index(substring_index(first_name, ' ', 4), ' ', -1)
--                              else
--                                  (case
--                                       when left(first_name, instr(first_name, ' ') - 1) > 0 and
--                                            left(first_name, instr(first_name, ' ') - 1) < 10000
--                                           then left(first_name, instr(first_name, ' ') - 1)
--                                       when left(first_name, 2) = '�_'
--                                           then substring(first_name, 3, (instr(first_name, ' ') - 3))
--                                       when left(first_name, 1) = '�'
--                                           then substring(first_name, 2, (instr(first_name, ' ') - 1))
--
--                                       else '' end)
--                              end team,
penalty_c
                   from suitecrm.users
                            left join suitecrm.users_cstm on users.id = users_cstm.id_c
                   where id in (select distinct supervisor from suitecrm.worktime_supervisor)) R1),
  userrr as (SELECT distinct users.id,
                concat(first_name, ' ', last_name) fio,
                REGEXP_SUBSTR(first_name, '[0-9]+') team,
--                case
--                    when substring_index(substring_index(first_name, ' ', 3), ' ', -1) REGEXP '^[0-9]+$'
--                        then substring_index(substring_index(first_name, ' ', 3), ' ', -1)
--                    when substring_index(substring_index(first_name, ' ', 4), ' ', -1) REGEXP '^[0-9]+$'
--                        then substring_index(substring_index(first_name, ' ', 4), ' ', -1)
--                    else
--                        (case
--                             when left(first_name, instr(first_name, ' ') - 1) > 0 and
--                                  left(first_name, instr(first_name, ' ') - 1) < 10000
--                                 then left(first_name, instr(first_name, ' ') - 1)
--                             when left(first_name, 2) = '�_'
--                                 then substring(first_name, 3, (instr(first_name, ' ') - 3))
--                             when left(first_name, 1) = '�'
--                                 then substring(first_name, 2, (instr(first_name, ' ') - 1))
--
--                             else '' end)
--                    end team,
                fio.fio supervisor,
                             penalty_c
FROM suitecrm.users
         left join (select id_user, supervisor
                    from (select id_user,
                                 supervisor,
                                 date(date_start),
                                 row_number() over (partition by id_user order by date_start desc) rn
                          from suitecrm.worktime_supervisor) R
                    where rn = 1) worktime_supervisor on users.id = id_user
         left join fio on supervisor = fio.id)

select id,fio, replace(team,' ','') team, supervisor, penalty_c
from userrr
# where fio is not null
# and id = '45400544-e3e6-f4fb-f1dd-5c500fb13e8c' '''

        # Con = MySQLdb.Connect(host=host, user="base_dep_slave", passwd="IyHBh9mDBdpg", db="suitecrm",
        #                       charset='utf8')
        # print('Пользователи')
        # teams = pd.read_sql_query(team_sql, Con).fillna('')
        teams = get_data_request(team_sql, cloud)
        teams = teams[['id','team']]
        teams['team'] = teams['team'].apply(lambda x: x.strip())
        trafic = trafic.merge(teams, how='left', left_on='assigned_user_id', right_on='id')

        print('Функция команды')
        def def_team_y(row):
            if row['team_x'] == '':
                return row['team_y']
            else:
                return row['team_x']


        trafic['team'] = trafic.apply(lambda row: def_team_y(row), axis=1)

        # trafic['call_date'] = trafic['call_date'].astype('str')
        trafic['team'] = trafic['team'].astype('str').apply(lambda x: x.strip())
        trafic['queue'] = trafic['queue'].astype('str').apply(lambda x: x.strip())

        trafic = trafic.merge(team_project, how='left', left_on=['call_date', 'team'], right_on=['date', 'team'])
        trafic = trafic.merge(queue_project, how='left', left_on=['call_date', 'destination_queue'], right_on=['date', 'Очередь'])

        trafic['destination_project'] = trafic['destination_project'].fillna('0')
        trafic['team_project'] = trafic['team_project'].fillna('0')

        trafic['project'] = trafic.apply(lambda row: project(row), axis=1)
        trafic['organization'] = trafic.apply(lambda row: organization(row), axis=1)

        trafic = trafic.groupby(['call_date',
                                 'queue',
                                 'destination_queue',
                                 'assigned_user_id',
                                 'project',
                                 'department',
                                 'data_type',
                                 'network_provider',
                                 'city_c',
                                 'region_c',
                                 'region_c2',
                                 'trunk_id',
                                 'marker',
                                 'organization',
                                 'inbound_call',
                                 'directory',
                                 'last_step'], as_index=False, dropna = False).agg({'perevod': 'sum',
                                                                                    'lead': 'sum',
                                                                    'id_x': 'count',
                                                                    'billsec': 'sum',
                                                                    'real_billsec': 'sum'}) \
            .rename(columns={'call_date': 'date(call_date)',
                             'region_c': 'region',
                             'id_x': 'count(id)',
                             'billsec': 'tr_ro',
                             'real_billsec': 'tr_pay'})

        print('Сохраняем файл')
        file_path = '/root/airflow/dags/liza_test/Files/trafic.csv'
        trafic.to_csv(file_path, index=False)
        save_file_to_dbs(file_path, to_save)

    n += 1

    sleep(60)




# import pandas as pd
# import glob
# import os

# path = '/root/airflow/dags/liza_test/Files/trafic'
# files = sorted(glob.glob(path + "/*.csv"), reverse=False)
# data = get_data_request(team_sql, cloud)
# data = pd.read_csv('scripts fsp\Current Files\Маркера.csv')
# n = 0
# num_of_files = len(os.listdir(path))

# print(f'Всего файлов {num_of_files}')

# for i in files:
#     n += 1
#     print(i)
#     chunk = pd.read_csv(i)
#     chunk = chunk[['marker']].drop_duplicates().fillna(0).astype('int')
#     data = pd.concat([data,chunk])
#     data = data.drop_duplicates()

#     # if n == 5:
#     #     break

# data.to_csv(r'\\192.168.1.157\dbs\scripts fsp\Current Files\Маркера.csv', index=False)

Всего файлов 149
Всего файлов 149
Всего файлов 149
Коннект
Отправляем запрос
02_26
mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.183/suitecrm?charset=utf8

Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 803, in _write_bytes
    self._sock.sendall(data)
ConnectionResetError: [Errno 104] Connection reset by peer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 763, in _finalize_fairy
    fairy._reset(pool, transaction_was_reset)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 1038, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 487, in rollback
    self._execute_command(COMMAND.COM_QUERY, "ROLLBACK")
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 861, in _execute_command
    self._write_bytes(packet)
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 806, in _write_bytes
    raise err.OperationalError(
pymysql.err.OperationalError: (2006, "MySQL server has gone away (ConnectionResetError(104, 'Connection reset by peer'))")

mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.183/suitecrm?charset=utf8
Функция команды
Сохраняем файл
DBS
/root/airflow/dags/not_share/DBS.csv
connection ok!
file_to_save <_io.BufferedReader name='/root/airflow/dags/liza_test/Files/trafic.csv'>
save done

In [8]:
import pandas as pd
trafic_26 = pd.read_csv('/root/airflow/dags/fsp_new/files/trafic/Трафик_02_26.csv')
trafic_26[trafic_26['project'] == 'TELE2'].fillna('0').groupby('trunk_id')[['count(id)']].sum()

/tmp/ipykernel_363129/1786986130.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  trafic_26 = pd.read_csv('/root/airflow/dags/fsp_new/files/trafic/Трафик_02_26.csv')

          count(id)
trunk_id
42.0              1
60.0            788
0               376

In [5]:
import os
path = '/root/airflow/dags/fsp_new/files/trafic/'
path_list = sorted(os.listdir(path), reverse=True)
path_list[:2]
for i in path_list[:2]:
    print(i)

Трафик_02_27.csv
Трафик_02_26.csv

In [19]:
trafic_26 = trafic_26.fillna('0')
grup = trafic_26[trafic_26['trunk_id'] == '0'].groupby('queue')[['count(id)']].sum().reset_index()
grup

     queue  count(id)
0       14       4233
1     9003          6
2     9005        153
3     9007          1
4     9010        215
..     ...        ...
125   9288       4477
126   9290        939
127   9291       3223
128   9292       8576
129   9297        575

[130 rows x 2 columns]

In [20]:
grup.sort_values('count(id)', ascending=False)

     queue  count(id)
57    9119      61910
25    9059      11217
22    9055      11154
71    9151      10129
27    9061       8921
..     ...        ...
21    9054          3
103   9240          2
11    9030          1
3     9007          1
30    9069          1

[130 rows x 2 columns]

In [9]:
import pandas as pd
trafic_25 = pd.read_csv('/root/airflow/dags/fsp_new/files/trafic/Трафик_02_25.csv')
trafic_25[trafic_25['project'] == 'TELE2'].fillna('0').groupby('trunk_id')[['count(id)']].sum()

/tmp/ipykernel_363129/334840606.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  trafic_25 = pd.read_csv('/root/airflow/dags/fsp_new/files/trafic/Трафик_02_25.csv')

          count(id)
trunk_id
42.0              3
52.0              1
60.0           1082
0               348

In [10]:
import pandas as pd
trafic_24 = pd.read_csv('/root/airflow/dags/fsp_new/files/trafic/Трафик_02_24.csv')
trafic_24[trafic_24['project'] == 'TELE2'].fillna('0').groupby('trunk_id')[['count(id)']].sum()

/tmp/ipykernel_363129/3122198865.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  trafic_24 = pd.read_csv('/root/airflow/dags/fsp_new/files/trafic/Трафик_02_24.csv')

          count(id)
trunk_id
42.0             25
52.0             23
60.0           1217
0               210

In [21]:
trafic_24 = trafic_24.fillna('0')
grup24 = trafic_24[trafic_24['trunk_id'] == '0'].groupby('queue')[['count(id)']].sum().reset_index()
grup24.sort_values('count(id)', ascending=False)

     queue  count(id)
60    9119      37530
24    9055      11158
27    9059       7143
78    9172       7003
75    9151       6311
..     ...        ...
11    9030          1
105   9232          1
85    9195          1
86    9197          1
1       16          0

[137 rows x 2 columns]